<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NoobKey | Join Group Buy</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!--===================== google fornt ===================================== -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!--  -->
    <!-- ==================== CSS ==============================================-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/package/lightslider/src/css/lightslider.css">
    <link rel="stylesheet" href="/package/waitMe/waitMe.min.css">
    <link rel="stylesheet" href="/api/css/pcss/joingbpage/style.css">
    <link rel="stylesheet" href="/api/css/pcss/joingbpage/border-effect.css">
    <link rel="stylesheet" href="/api/css/pcss/joingbpage/button-stuck.css">
    <!-- <link rel="stylesheet" type="text/css" href="/api/css/custom-fixed.css"> -->
    <link rel="stylesheet" href="/api/css/effect/navbar.css">
    <link rel="stylesheet" href="/api/css/effect/preloading.css">
    <link rel="stylesheet" href="/api/css/effect/radiobtn-effect/radiobtn-loading-time.css">
    <link rel="stylesheet" href="/api/css/pcss/customize.css">
    <link rel="stylesheet" type="text/css" href="/api/css/effect/wallet-button/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="product/css/proxypage/style.css"> -->
    <link rel="stylesheet" href="/product/css/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/package/css/pcss/navbar_config.css">
    <!--  -->
    <!--==================== SCRIPT =========================================== -->
    <script src="/api/js/pjs/modernizr.js"></script>
    <% include ./../tips/cssPackage %>
</head>
<style type="text/css">
/* Generals resets and unimportant stuff */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: "Montserrat", sans-serif !important;
    height: 100%;
    width: 100%;
    background-image: url('/api/docs/background/bg-black.svg');
    background-repeat:repeat;
    background-color: transparent;
    box-sizing: border-box;
}

nav.navbar {
    z-index: 10;
    position: sticky;
    top: 0;
    background-image: url('/api/docs/background/UIBkAT.jpg');
    background-repeat: no-repeat;
    /* clip-path: polygon(0 13%, 99% 24%, 100% 92%, 17% 86%); */

}

.bg-dark {
    background-color: transparent !important;
    /* clip-path: polygon(50% 0%, 100% 0, 100% 61%, 30% 86%, 0 52%, 0 0); */
}

.before-breadcrumb {
    opacity: 0.91;
    position: relative;
    /*top: 1%;*/
    background-color: rgba(54, 58, 64, 0.3);
    background-image: url('/api/docs/background/UIBkAT.jpg');
    background-repeat: no-repeat;
    filter: brightness(150%);
    /* -webkit-box-shadow: -4px 1px 30px 3px rgba(61,38,61,0.79);
        -moz-box-shadow: -4px 1px 30px 3px rgba(61,38,61,0.79);
        box-shadow: -4px 1px 30px 3px rgba(61,38,61,0.79); */
}

.breadcrumb {
    max-width: 70%;
    margin: 0 auto;
    background-image: url('/api/docs/background/UIBkAT.jpg');
    background-repeat: no-repeat;
    background-color: transparent;

}

.row:first-child>.col-md-12 {
    display: flex;
}

.row {
    height: unset;
    position: relative;
    top: 5%;
}

.btn-submit {
    /*border-radius: 50px;
    min-width: 160px;*/
}

.footer-register {
    height: 10%;
}

@import "compass/css3";

.seperator-wrapper {
    width: 100%;
}

.seperator-wrapper .seperator {
    width: 100%;
    margin: 0 auto;
    height: 5px;
    animation: rotate 3s infinite linear;
    -webkit-animation: rotate 3s infinite linear;
}

@-webkit-keyframes rotate {
    from {
        background-position: -3000px;
    }

    to {
        background-position: 0px;
    }
}

@keyframes rotate {
    from {
        background-position: -3000px;
    }

    to {
        background-position: 0px;
    }
}

.gradient {
    background: #30ff90;
    /* Old browsers */
    background: -moz-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #30ff90), color-stop(25%, #ed2ded), color-stop(50%, #c99826), color-stop(75%, #30ffe6), color-stop(100%, #30ff90));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
    /* IE10+ */
    background: linear-gradient(to right, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30ff90', endColorstr='#30ff90', GradientType=1);
    /* IE6-9 */
}

ul.lSGallery>li>a>img {
    width: 40px !important;
    height: 30px !important
}

ul.lSGallery>li {
    width: unset !important;
    height: unset !important;
}

ul.item-details,
ul.item-timeline {
    list-style: none;
}

.w-50 {
    width: 50%
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-75 {
    width: 75%;
}

.main {
    margin: 2% 15% !important
}

.truck-button {
    /*display: none;*/
}
</style>

<body id="top">
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand">
                <!-- Logo Image -->
                <img src="/favicon/white_logo.png" alt="" class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                <!-- <span class="text-uppercase font-weight-bold">Company</span> -->
            </a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        </div>
    </nav>
    <section style="position: relative;" class="seperator-wrapper">
        <div class="seperator gradient">
        </div>
    </section>
    <!-- Breakcum-->
    <main class="main row">
        <div class="col-md-12">
            <!--  <div class="title-li">
                <p style="">Product details</p>
                <hr>
            </div> -->
            <article class="row">
                <div class="col-md-9">
                    <div style="border-radius: 4px" class="joingbpage-payment-product">
                        <span class="img-product">
                            <picture>
                                <img style="width: 60px;height: 60px;object-fit: cover" class="responsive carousel-image img-zoomable" onerror="this.onerror=null; this.src='/api/docs/trash/image-not-found.png'" src="/api/<%=Category.pic_profile.path%>">
                            </picture>
                        </span>
                        <h2>
                            <%= Category.category_name %>
                        </h2>
                        <span>
                            <% if(Category.max_price == null) {%>
                            $
                            <%= Category.min_price %>
                            <% }else{ %>
                            $
                            <%= Category.min_price %> - $
                            <%= Category.max_price %>
                            <% } %>
                        </span>
                    </div>
                    <form id="order_product" action="./joingb" method='POST'>
                        <div class="joingbpage-list-product">
                            <input class="numlength" type="text" name="numlength" style="visibility: hidden;width: 0px">
                            <!-- <div class="form-group joingbpage-select-product" data-id="123" id="form_1">
                                <h3>Select Product</h3>
                                <hr>
                                <div class="selected-product">
                                    <span class="img-product">
                                        <picture>
                                            <img style="width: 90px;height: 90px;object-fit: cover" class="responsive carousel-image img-zoomable" src="/api/<%=Category.pic_profile.path%>">
                                        </picture>
                                    </span>
                                    <div class="form-margin-left w-100" id="anc123">
                                        <label for="">Product Type:</label>
                                        <select class="form-control select2 multiple-select select2-product" id="keeb-plate" name="product[]">
                                            <% for(var i in Payment){ %>
                                            <option value="<%= Payment[i].product_id %>" data-image="<%= Payment[i].pic_product.path %>">
                                                <%= Payment[i].product_name  %> (
                                                <%= Payment[i].price %>$)
                                            </option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="form-quantity-select w-20">
                                        <label for="quantity">Quantity:</label>
                                    
                                        <select class="form-control select2-quantity" style="margin-top:0px;" id="c-material" name="quantity">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>

                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="form-group joingbpage-button-addon">
                            <div class="sketchy">
                                <a href="#" id="addMore">Add more item</a>
                            </div>
                        </div>
                        <div class="form-group joingbpage-address-payment">
                            <div style="margin-right: 0.5%" class="col-md-6 payment-option">
                                <h2 class="font-hello_jones">Paymnet Options</h2>
                                <hr>
                                <div class="form-group cntr">
                                    <!-- <div>
                                        <input type="radio" id="momo" name="payment" value="momo"><span style="margin-left: 5%"><img src="/api/docs/trash/momo.jfif" style="width:64px;height: 64px"></span>
                                        <label for="momo"></label>
                                    </div>
                                    <hr>
                                    <div>
                                        <input type="radio" id="paypal" name="payment" value="paypal"><span style="margin-left: 5%"><img src="/api/docs/trash/paypal.png"></span>
                                        <label for="paypal"></label>
                                    </div> -->
                                    <div class="row col-md-12">
                                        <label for="momo" class="btn-radio">
                                            <!-- <input type="radio" id="rdo-1" name="radio-grp"> -->
                                            <input type="radio" id="momo" name="payment" value="momo">
                                            <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                <circle cx="10" cy="10" r="9"></circle>
                                                <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                                                <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                                            </svg>
                                            <span><img src="/api/docs/trash/momo.jfif"></span>
                                        </label>
                                    </div>
                                    <hr style="margin-left: 5%">
                                    <!-- <div class="row col-md-12">
                                        <label for="paypal" class="btn-radio">
                                            <input type="radio" id="paypal" name="payment" value="paypal">
                                            <svg width="20px" height="20px" viewBox="0 0 20 20">
                                                <circle cx="10" cy="10" r="9"></circle>
                                                <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                                                <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                                            </svg>
                                            <span><img src="/api/docs/trash/Paypal-icon.png"></span>
                                        </label>
                                    </div> -->
                                </div>
                            </div>
                            <div style="margin-left: 0.5%" class="col-md-6 shipping-address">
                                <h2 class="font-hello_jones">Shipping Address</h2>
                                <hr>
                                <div class="form-group cntr">
                                    <label for="already_address" class="btn-radio">
                                        <input type="radio" id="already_address" name="address" value="already" />
                                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                                            <circle cx="10" cy="10" r="9"></circle>
                                            <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                                            <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                                        </svg>
                                        <span>Shipping to this address</span>
                                    </label>
                                    <!-- <label for="new_address">Shipping to this address</label> -->
                                    <br>
                                    <!-- <form></form> -->
                                    <!-- <form id="form_already_address"> -->
                                    <% if((User.shipping_at).length > 0) { %>
                                    <div class="for-already-address">
                                        <div class="form-group d-flex">
                                            <label for='country' class="col-md-3">Country</label>
                                            <div class="col-md-9">
                                                <select style="" id="country" name="country" class="form-control">
                                                    <option value="<%- User.shipping_at[0].country %>">
                                                        <%= User.shipping_at[0].country %>
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex">
                                            <label for='name' class="col-md-3">Name</label>
                                            <div class="col-md-9">
                                                <input type="text" id="name" name="customer_name" value="<%- User.shipping_at[0].fname %> <%- User.shipping_at[0].lname %>">
                                            </div>
                                        </div>
                                        <div class="form-group d-flex">
                                            <label for='address' class="col-md-3">Address</label>
                                            <div class="col-md-9">
                                                <input type="text" id="address" name="customer_address" value="<%- User.shipping_at[0].address %>">
                                            </div>
                                        </div>
                                        <div class="form-group d-flex">
                                            <label for='city' class="col-md-3">City</label>
                                            <div class="col-md-9">
                                                <input type="text" id="city" name="customer_city" value="<%- User.shipping_at[0].town_city %>">
                                            </div>
                                        </div>
                                        <div class="form-group d-flex">
                                            <label for='pcode' class="col-md-3">postal code</label>
                                            <div class="col-md-9">
                                                <input type="tel" id="pcode" name="customer_postal_code" value="<%- User.shipping_at[0].zip_code %>">
                                            </div>
                                        </div>
                                        <div class="form-group d-flex">
                                            <label for='pnumber' class="col-md-3">phone</label>
                                            <div class="col-md-9">
                                                <input type="tel" id="pnumber" name="customer_phone" value="<%- User.shipping_at[0].phone_number %>">
                                            </div>
                                        </div>
                                    </div>
                                    <% }else{ %>
                                    <a href="/address">Click here to setup your shipping address </a>
                                    <%   } %>
                                    <!-- </form> -->
                                    <hr style="margin-left: 5%">
                                    <label for="new_address" class="btn-radio">
                                        <input type="radio" id="new_address" name="address" value="new" />
                                        <svg width="20px" height="20px" viewBox="0 0 20 20">
                                            <circle cx="10" cy="10" r="9"></circle>
                                            <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                                            <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                                        </svg>
                                        <span>Use a new address</span>
                                    </label>
                                    <!-- <label for="already_address">Use a new address</label> -->
                                    <br>
                                    <!-- <form id="form_new_address"> -->
                                    <div class="for-new-address">
                                        <div class="form-group d-flex">
                                            <label for='newCountry' class="col-md-3">Country</label>
                                            <div class="col-md-9">
                                                <select style="" id="newCountry" name="country" class="form-control">
                                                    <option value="Viet Nam">Việt Nam</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex">
                                            <label for='newName' class="col-md-3">Name</label>
                                            <div class="col-md-9">
                                                <input type="text" id="newName" name="customer_name">
                                            </div>
                                        </div>
                                        <div class="form-group d-flex">
                                            <label for='newAddress' class="col-md-3">Address</label>
                                            <div class="col-md-9">
                                                <input type="text" id="newAddress" name="customer_address">
                                            </div>
                                        </div>
                                        <div class="form-group d-flex">
                                            <label for='subAddress' class="col-md-3"></label>
                                            <div class="col-md-9">
                                                <input type="text" name="customer_address_sub" id="subAddress" placeholder="(option)">
                                            </div>
                                        </div>
                                        <div class="form-group d-flex">
                                            <label for='newCity' class="col-md-3">City</label>
                                            <div class="col-md-9">
                                                <select style="" id="newCity" name="town_city" class="form-control">
                                                    <% include ./../tips/selectCity %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex">
                                            <label for='newPcode' class="col-md-3">postal code</label>
                                            <div class="col-md-9">
                                                <input type="tel" id="newPcode" name="customer_postal_code" placeholder="VN(70000)">
                                            </div>
                                        </div>
                                        <div class="form-group d-flex">
                                            <label for='newPnumber' class="col-md-3">phone</label>
                                            <div class="col-md-9">
                                                <input type="tel" id="newPnumber" name="customer_phone">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!-- end of col-md-9 -->
                <div class="col-md-3 box-details">
                    <!-- right -->
                    <h2 class="t-center order-title">Order details</h2>
                    <hr>
                    <div class="joingb-details-order form-group">
                        <ul>
                            <li class="pack">
                                <span class="text-details"><strong>Pack:</strong></span>
                                <span class="t-right">0</span>
                            </li>
                            <li class="quantity">
                                <span class="text-details"><strong>Quantity:</strong></span>
                                <span class="t-right">0</span>
                            </li>
                            <li class="subtotal">
                                <span class="text-details"><strong>Subtotal:</strong></span>
                                <span class="t-right">0$</span>
                            </li>
                            <li>
                                <span class="text-details"><strong>Shipping & Handling:</strong></span>
                                <span class="t-right">
                                    <% if(Category.handle == 0 || Category.handle == null){ %>
                                    Free
                                    <% }else{ %>
                                    <%= Category.handle %>$
                                    <%}%>
                                </span>
                            </li>
                            <li>
                                <span class="text-details"><strong>Estimated Tax:</strong></span>
                                <span class="t-right">
                                    <% if(Category.tax == 0 || Category.tax == null){ %>
                                    Free
                                    <% }else{ %>
                                    <%= Category.tax %>$
                                    <%}%>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="joingb-details-order form-group">
                        <ul>
                            <li class="total">
                                <span class="text-details font-b"><strong>Total(USD):</strong></span>
                                <span class="t-right font-b">0$</span>
                            </li>
                        </ul>
                    </div>
                    <div class="button-payment">
                        <!-- <button class="btn-secondary btn-lg truck-fake-button" style="width: 100%">PLACE ORDER</button> -->
                        <!-- OLD BUTTON SUBMIT -->
                        <!-- <button type="submit" form="order_product" class="truck-button" id="2nd-truck-button">
                            <span class="default">Complete Order</span>
                            <span class="success">
                                Order Placed
                                <svg viewbox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                            <div class="truck">
                                <div class="wheel"></div>
                                <div class="back"></div>
                                <div class="front"></div>
                                <div class="box"></div>
                            </div>
                        </button> -->
                        <!-- THE NEW ONE -->
                        <button type="submit" form="order_product" class="truck-button">
                            <span class="button__text">
                                <span class="text-uppercase">place order</span>
                            </span>
                            <svg class="button__svg" role="presentational" viewBox="0 0 600 600">
                                <defs>
                                    <clipPath id="myClip">
                                        <rect x="0" y="0" width="100%" height="50%" />
                                    </clipPath>
                                </defs>
                                <g clip-path="url(#myClip)">
                                    <g id="money">
                                        <path d="M441.9,116.54h-162c-4.66,0-8.49,4.34-8.62,9.83l.85,278.17,178.37,2V126.37C450.38,120.89,446.56,116.52,441.9,116.54Z" fill="#699e64" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                                        <path d="M424.73,165.49c-10-2.53-17.38-12-17.68-24H316.44c-.09,11.58-7,21.53-16.62,23.94-3.24.92-5.54,4.29-5.62,8.21V376.54H430.1V173.71C430.15,169.83,427.93,166.43,424.73,165.49Z" fill="#699e64" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                                    </g>
                                    <g id="creditcard">
                                        <path d="M372.12,181.59H210.9c-4.64,0-8.45,4.34-8.58,9.83l.85,278.17,177.49,2V191.42C380.55,185.94,376.75,181.57,372.12,181.59Z" fill="#a76fe2" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                                        <path d="M347.55,261.85H332.22c-3.73,0-6.76-3.58-6.76-8v-35.2c0-4.42,3-8,6.76-8h15.33c3.73,0,6.76,3.58,6.76,8v35.2C354.31,258.27,351.28,261.85,347.55,261.85Z" fill="#ffdc67" />
                                        <path d="M249.73,183.76h28.85v274.8H249.73Z" fill="#323c44" />
                                    </g>
                                </g>
                                <g id="wallet">
                                    <path d="M478,288.23h-337A28.93,28.93,0,0,0,112,317.14V546.2a29,29,0,0,0,28.94,28.95H478a29,29,0,0,0,28.95-28.94h0v-229A29,29,0,0,0,478,288.23Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                                    <path d="M512.83,382.71H416.71a28.93,28.93,0,0,0-28.95,28.94h0V467.8a29,29,0,0,0,28.95,28.95h96.12a19.31,19.31,0,0,0,19.3-19.3V402a19.3,19.3,0,0,0-19.3-19.3Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                                    <path d="M451.46,435.79v7.88a14.48,14.48,0,1,1-29,0v-7.9a14.48,14.48,0,0,1,29,0Z" fill="#a4bdc1" stroke="#323c44" stroke-miterlimit="10" stroke-width="14" />
                                    <path d="M147.87,541.93V320.84c-.05-13.2,8.25-21.51,21.62-24.27a42.71,42.71,0,0,1,7.14-1.32l-29.36-.63a67.77,67.77,0,0,0-9.13.45c-13.37,2.75-20.32,12.57-20.27,25.77l.38,221.24c-1.57,15.44,8.15,27.08,25.34,26.1l33-.19c-15.9,0-28.78-10.58-28.76-25.93Z" fill="#7b8f91" />
                                    <path d="M148.16,343.22a6,6,0,0,0-6,6v92a6,6,0,0,0,12,0v-92A6,6,0,0,0,148.16,343.22Z" fill="#323c44" />
                                </g>
                            </svg>
                        </button>
                        <p class="t-center"><i class="fas fa-lock"></i>&nbsp;Secure Checkout</p>
                    </div>
                </div>
            </article>
        </div>
    </main>
    <!-- main-->
    <div class="footer-register center">
    </div>
</body>
<% include ./../tips/jsPackage %>
<!-- <script src="/nodemodules/zooming/build/zooming.min.js"></script> -->
<script type="text/javascript" src="/package/lightslider/src/js/lightslider.js"></script>
<script type="text/javascript" src="https://unpkg.com/zooming"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js"></script>
<script type="text/javascript" src="/api/js/pjs/product/joingbPage/js.js"></script>
<script type="text/javascript" src="/package/waitMe/waitMe.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.button-payment button.truck-button').attr('disabled', true);
    $('.button-payment button.truck-button').css('cursor', 'no-drop');
    var productOrder = 0;
    var addressOrder;
    var paymentOrder;
    var a = document.getElementsByName('address');
    var p = document.getElementsByName('payment');
    $('.joingb-details-order ul li.pack .t-right').on('DOMSubtreeModified', function(e) {
        productOrder = Number($('.joingb-details-order ul li.pack .t-right').text())
        if (productOrder > 0) {
            if (addressOrder && paymentOrder) {
                $('.button-payment button.truck-button').attr('disabled', false);
                $('.button-payment button.truck-button').css('cursor', 'pointer');
            } else {}
        } else {}
    });
    $('input[type=radio][name=address]').change(function() {
        addressOrder = (this.value)
        if (productOrder > 0) {
            if (addressOrder && paymentOrder) {
                $('.button-payment button.truck-button').attr('disabled', false);
                $('.button-payment button.truck-button').css('cursor', 'pointer');
            } else {}
        } else {}
    });
    $('input[type=radio][name=payment]').change(function() {
        paymentOrder = (this.value)
        if (productOrder > 0) {
            if (addressOrder && paymentOrder) {
                $('.button-payment button.truck-button').attr('disabled', false);
                $('.button-payment button.truck-button').css('cursor', 'pointer');
            } else {}
        } else {}
    });
    $('.button-payment button.truck-button').on('click', function(e) {
        $('body').waitMe({
            effect: 'roundBounce',
            text: 'Please wait...',
            waitTime: 3000
        });
    });
    new Zooming().listen('.img-zoomable')
    $('#pnumber , #pcode').on('input', function() {
        this.value = this.value
            .replace(/[^\d]/g, ''); // numbers and decimals only

    });
    $('.for-new-address').css('display', 'none');
    $('.for-already-address').css('display', 'none');

    $("input[type='radio']").click(function() {
        var radioValue = $("input[name='address']:checked").val();
        console.log(radioValue)
        if (radioValue == 'already') {

            $('.for-already-address :input').prop('readonly', true);
            $('.for-already-address :input').prop('disabled', false);
            $('.for-already-address').css('display', 'block');
            $('.for-new-address').css('display', 'none');
            $('.for-new-address :input').prop('disabled', true);
        } else if (radioValue == 'new') {
            $('.for-already-address').css('display', 'none');
            $('.for-already-address :input').prop('disabled', true);
            $('.for-new-address :input').prop('disabled', false);
            $('.for-new-address').css('display', 'block');

        }
    });
    var url = (window.location).href;
    var a1 = window.location.hostname + ':5000'
    var res = url.split("/").pop();
    console.log(res)
    var lastCharRes = res.slice(-1);
    console.log(lastCharRes)
    var lengthRes = res.length
    if (lastCharRes === "#") {
        res = res.substring(0, lengthRes - 1);
        console.log(res)
    } else {

    }
    $('.select2-product').val('');
    // $('.select2-quantity').select2();
    console.log(res)
    fetch('/api/product/getcid/' + res).then(function(response) {
        if (!response.ok) {
            throw Error(response.statusText);
        }
        return response.json();
    }).then(function(responseAsJson) {
        var product = responseAsJson;
        var MaxInputs = 10; //maximum extra input boxes allowed
        var InputsWrapper = $(".joingbpage-list-product .joingbpage-select-product"); //Input boxes wrapper ID
        var AddButton = $("#addMore"); //Add button ID
        var x = (InputsWrapper.length); //initlal text box count
        var FieldCount = 1; //to keep track of text box added
        var temp = 0;
        var sum = 0;
        var pack = 0;
        var dynamic = "";
        for (var i in product) {
            dynamic += '<option data-price="' + product[i].price + '"  value="' + product[i].product_id + '" data-name="' + product[i].product_name + '"  data-image="' + product[i].pic_product.path + '" data-id="' + (i) + '">' + product[i].product_name + " " + "(" + product[i].price + "$)" + '</option>'
        }
        var listquantity = "";
        for (var count = 1; count <= 10; count++) {
            listquantity += '<option value="' + count + '">' + count + '</option>'
        }
        fetch('/api/category/getcid/' + res).then(function(response2nd) {
            if (!response2nd.ok) {
                throw Error(response2nd.statusText);
            }
            return response2nd.json();
        }).then(function(response2ndAsJson) {
            var category = response2ndAsJson;
            var status = category.status_gb;
            var image = '/api/' + product[0].pic_product.path
            $('.joingbpage-list-product .image2nd-include .selected-product .img-product picture img').attr('src', image)
            //on add input button click
            $(AddButton).click(function(e) {

                pack++;
                $('.numlength').val(pack);
                // $('.joingb-details-order ul .quantity .t-right').html(1)
                // alert('x = ' + x);
                //max input box allowed
                if (x <= MaxInputs) {
                    FieldCount++; //text box added ncrement
                    //add input box
                    $('.joingbpage-list-product').append(
                        '<div class="form-group image2nd-include joingbpage-select-product" id="form_' + x + '">                        <h3 class="font-hello_jones">Select Product</h3>                            <hr><div class="selected-product"  >                            <span class="img-product">                                <picture>                                    <img style="width: 90px;height: 90px;object-fit: cover" class="responsive carousel-image img-zoomable2nd" src="' + image + '">                                </picture>                            </span>                            <div class="form-margin-left w-100">                                <label class="" for=""><b>Product Type:</b></label>                                <select style="font-weight: bold" data-id="' + x + '" class="form-control select2 multiple-select select2-product" name="product_id" id="select_' + x + '">                                  ' + dynamic + '  </select>                            </div> <div class="form-price" style="visibility:hidden;width:0px">                                <label for="price">Price:</label>                                 <input class="form-control input-price-hidden" data-value="' + x + '" style="margin-top:0px" id="price_' + x + '" name="price" value="">                                </div> <div class="form-name" style="visibility:hidden;width:0px">                                <label for="name">Name:</label>                                 <input class="form-control input-name-hidden" data-value="' + x + '" style="margin-top:0px" id="name_' + x + '" name="productName" value="">                                </div>                     <div class="form-quantity-select w-20">                                <label for="quantity"><b>Quantity:</b></label>                                 <select class="form-control select2-quantity" data-value="' + x + '" style="margin-top:0px;" id="quantity_' + x + '" name="quantity">                                       ' + listquantity + '                                     </select>                            </div>                        <a href="#" data-id="' + x + '" class="removeclass">Remove</a></div></div>'
                    );
                    // disable auto select for select2
                    // console.log("x = " + x);
                    // for(var n=-1;n<x;n++){
                    //     console.log();

                    // }
                    $("#form_" + x + " .selected-product .form-price .input-price-hidden").val(product[0].price);
                    $("#form_" + x + " .selected-product .form-name .input-name-hidden").val(product[0].product_name);
                    // $("#form_" + x + " .selected-product .w-20 select").val('');
                    // var sam = imageli.getAttribute('data-thumb');
                    $("#form_" + x + " .selected-product .w-20 select").each(function() {
                        // if($(this).value == null){
                        //     return 0;
                        // }
                        console.log($(this).value)
                        var subtotal = 0;
                        var totalPrice = 0;
                        var quantity = 0;
                        for (var p = 0; p < x + 1; p++) {
                            var priceSelect = Number($("#select_" + p).find(':selected').data('price'));
                            console.log("p3rd = " + p);
                            temp = Number($(this).val());
                            console.log("temp3rd = " + temp)
                            var e = Number($("#quantity_" + p).val());
                            console.log("e3rd = " + e);
                            subtotal = e
                            quantity += e
                            console.log("subtotal3rd = " + subtotal);
                            totalPrice += subtotal * priceSelect
                        }
                        //     // $("#form_" + x + " .selected-product .w-20 select.select2-quantity").val();
                        //     // alert(this.value);
                        //     // pack += Number($(this).val());
                        $('.joingb-details-order ul .quantity .t-right').html(quantity);
                        $('.joingb-details-order ul .subtotal .t-right').html(totalPrice + '$');
                        $('.joingb-details-order ul .total .t-right').html(totalPrice + '$');
                    });
                    $('.joingb-details-order ul .pack .t-right').html(pack);
                    $("#form_" + x + " .selected-product .w-20 select").on('change', function(e) {
                        console.log(e);
                        // console.log("x =" + x)
                        var subtotal = 0; // 
                        var quantity = 0;
                        var totalPrice = 0;
                        for (var p = 0; p < x; p++) {
                            console.log("p = " + p);
                            temp = Number($(this).val()); //quantity have select
                            console.log("temp = " + temp)
                            var e = Number($("#quantity_" + p).val());
                            console.log("e = " + e);
                            subtotal = e
                            quantity += e
                            console.log("subtotal = " + subtotal);
                            // totalPrice += subtotal
                            // totalprice = subtotal * price
                        }
                        $('.joingb-details-order ul .quantity .t-right').html(quantity);
                    })
                    if (x < 1) {
                        $(".joingbpage-select-product .selected-product a.removeclass").css('visibility', 'hidden')
                    } else {
                        for (var c = 0; c < x; c++) {
                            console.log(c);
                            if (c < x) {
                                $("#form_" + c + " .selected-product a.removeclass").css('visibility', 'hidden')
                            }
                        }
                        // y = x-1;
                    }
                    x++; //text box increment
                    $(".joingbpage-button-addon").show();
                    // Delete the "add"-link if there is 3 fields.
                    if (x == 10) {
                        $(".joingbpage-button-addon").hide();
                        // $("#lineBreak").html("<br>");
                    }
                    y = x - 1;
                    $(".select2-product").select2({

                        templateResult: function(idioma) {
                            console.log($(this).parent())
                            console.log(idioma);
                            console.log(idioma.element)
                            console.log($(idioma.element).data('image'));
                            var imgData = $(idioma.element).data('image')
                            var imgUrl = '/api/' + imgData;
                            var href = a1 + '/api/' + imgData;
                            // console.log(href)
                            var $span = $("<span style='font-weight: bold'><img style='width:40px;height:40px;object-fit: cover' src='" + imgUrl + "'/> " + idioma.text + "</span>");
                            return $span;
                        },
                        templateSelection: function(idioma) {
                            console.log(y);
                            console.log(idioma);
                            var idData = $(idioma.element).data('id');
                            var priceData = $(idioma.element).data('price');
                            var nameDate = $(idioma.element).data('name');

                            console.log(idData) // id
                            // console.log(priceData) // price
                            // console.log($(this).closest('div.joingbpage-select-product').attr('id'))
                            var imgData = $(idioma.element).data('image')
                            console.log(idioma.id);
                            var imgUrl = '/api/' + imgData;
                            var href = a1 + '/api/' + imgData;
                            var $span = $("<span style='font-weight: bold'><img style='width:40px;height:40px;object-fit: cover' src='" + imgUrl + "'/> " + idioma.text + "</span>");
                            return $span;
                        }
                    });

                    // $('.select2-product').on('select2:select', function(e) {
                    $("#form_" + y + " .selected-product .w-100").on('select2:select', function(e) {
                        var totalQuantity = 0;
                        var totalPrice = 0;

                        console.log(e);
                        console.log(e.target)
                        var idSelected = e.target.getAttribute('data-id');
                        console.log(idSelected)

                        // console.log((e.target).attr('data-id'));
                        console.log(e.params)
                        console.log(e.params.data);
                        console.log($(e.params.data.element).data('price'));
                        // var priceSelect = Number($(e.params.data.element).data('price'));
                        console.log(e.params.data['id']);
                        var idioma = e.params.data['id'];
                        var godfather = $(this).closest('.joingbpage-select-product').attr('id');
                        console.log(godfather);
                        $("#form_" + idSelected + " .selected-product .form-price .input-price-hidden").val($(e.params.data.element).data('price'));
                        $("#form_" + idSelected + " .selected-product .form-name .input-name-hidden").val($(e.params.data.element).data('name'));
                        for (var i in product) {
                            if (idioma == product[i].product_id) {
                                console.log(product[i].product_id);
                                $("#" + godfather + " .selected-product .img-product picture img").attr("src", '/api/' + product[i].pic_product.path)
                            }
                        }
                        for (var n1 = 0; n1 < x; n1++) {
                            console.log(n1);
                            var priceSelect = Number($("#select_" + n1).find(':selected').data('price'));
                            var quantityValue = Number($("#form_" + n1 + " .selected-product .w-20 select").val());
                            console.log(quantityValue);
                            totalQuantity = quantityValue;
                            totalPrice += (totalQuantity * priceSelect);
                        }
                        $('.joingb-details-order ul .subtotal .t-right').html(totalPrice + '$');
                        $('.joingb-details-order ul .total .t-right').html(totalPrice + '$');
                    })
                    console.log(y);
                    $("#form_" + y + " .selected-product .w-20 select").on('change', function() {
                        // console.log(totalPrice)
                        // var totalQuantity = 0;
                        var totalQuantity = 0;
                        var totalPrice = 0;

                        for (var n2 = 0; n2 < x; n2++) {
                            var priceSelect = Number($('#select_' + n2).find(':selected').data('price'))
                            var e = Number($("#quantity_" + n2).val());
                            totalQuantity = e;
                            // subPrice = product[n2].price;
                            totalPrice += totalQuantity * priceSelect;
                            $('.joingb-details-order ul .subtotal .t-right').html(totalPrice + '$');
                            $('.joingb-details-order ul .total .t-right').html(totalPrice + '$');
                        }
                    })



                } // end of if

                return false;
            }); //this is end of function Add


            $(".joingbpage-list-product").on("click", ".removeclass", function(e) { //user click on remove text
                var idDel = $(this).attr('data-id');
                console.log("this = " + idDel)
                pack = pack - 1
                $('.numlength').val(pack);
                $('.joingb-details-order ul .pack .t-right').html(pack)

                // Number($('.select2-product').find(':selected').data('price'))
                console.log(priceSelect)

                if (x > 1) {
                    console.log($(this).parent('div').parent('div'));
                    $(this).parent('div').parent('div').remove(); //remove text box
                    for (var p = -1; p < x; p++) {
                        var subtotal = 0;
                        var totalPrice = 0;
                        var quantity = 0;
                        for (var p = 0; p < x; p++) {
                            var priceSelect = Number($('.selected-product .w-100 select#select_' + p).find(':selected').data('price'));
                            if (p == idDel) {
                                console.log("pingo")
                            } else {
                                console.log("p2nd = " + p);
                                temp = Number($(this).val());
                                console.log("temp2nd = " + temp)
                                var e = Number($("#quantity_" + p).val());
                                console.log("e2nd = " + e);
                                subtotal = e
                                quantity += e
                                console.log("subtotal2nd = " + subtotal);
                                totalPrice += subtotal * priceSelect
                            }
                        }
                        $('.joingb-details-order ul .quantity .t-right').html(quantity);
                        $('.joingb-details-order ul .subtotal .t-right').html(totalPrice + '$');
                        $('.joingb-details-order ul .total .t-right').html(totalPrice + '$');

                    }

                    x--; //decrement textbox
                    // alert(sample);
                    $(".joingbpage-button-addon").show();
                    // Adds the "add" link again when a field is removed.
                    $('AddMoreFileBox').html("Add field");
                }
                // x đã bị trừ 1 đơn vị
                for (var u = 0; u < x; u++) {
                    console.log(u);
                    if (u = x - 1) {
                        $("#form_" + u + " .selected-product a.removeclass").css('visibility', 'unset')
                    }
                }


                return false;
            })
        }) //
    })



    fetch('/api/category/getcid/' + res).then(function(response2nd) {
        if (!response2nd.ok) {
            throw Error(response2nd.statusText);
        }
        return response2nd.json();
    }).then(function(response2ndAsJson) {
        console.log(response2ndAsJson);
        var category = response2ndAsJson;
        console.log(category.status_gb);
        var status = category.status_gb;

        var image = '/api/' + category.pic_profile.path;
        console.log(image);

        $('.joingbpage-list-product .image2nd-include .selected-product .img-product picture img').attr('src', image)

        if (status == 0) {

        } else {

        }

    })
})
</script>

</html>