<!DOCTYPE html>
<html>

<head>
    <!--- basic page need
   ================================================== -->
    <meta charset="utf-8">
    <title>NoobKey | Proxy Group Buy</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- google fornt 
    ================================================= -->
    <!--  <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet"> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="#">
    <link rel="stylesheet" href="/api/css/pcss/keysetcolorcode.css">
    <link rel="stylesheet" href="/api/css/effect/navbar.css">
    <link rel="stylesheet" href="api/css/effect/preloading.css">
    <link rel="stylesheet" type="text/css" href="product/css/proxypage/style.css">
    <link rel="stylesheet" href="/product/css/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/package/slick/slick.css">
    <!-- <link rel="stylesheet" href="/api/css/pcss/main.css"> -->
    <!-- script
    ================================================== -->
    <script src="/api/js/pjs/modernizr.js"></script>
    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="./../favicon.ico" type="image/x-icon">
</head>
<style>
    /* Generals resets and unimportant stuff */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
        font-family: "Montserrat", sans-serif !important;
        /* height: 100%; */
        width: 100%;
        background-image: url('/api/docs/background/UIBkAT.jpg');
        background-repeat: no-repeat;
        background-color: transparent;
        box-sizing: border-box;
    }
    nav.navbar{
        z-index: 10;
        position: sticky;
        top: 0;
        background-image: url('/api/docs/background/UIBkAT.jpg');
        background-repeat: no-repeat;
        /* clip-path: polygon(0 13%, 99% 24%, 100% 92%, 17% 86%); */

    }
    .bg-dark{
        background-color: transparent!important;
        /* clip-path: polygon(50% 0%, 100% 0, 100% 61%, 30% 86%, 0 52%, 0 0); */
    }
    
    .before-breadcrumb {
        opacity: 0.91;
        position: relative;
        top: 1%;
        background-color: rgba(54, 58, 64, 0.3);
        background-image: url('/api/docs/background/UIBkAT.jpg');
        background-repeat: no-repeat;
        filter: brightness(150%);
        /* -webkit-box-shadow: -4px 1px 30px 3px rgba(61,38,61,0.79);
        -moz-box-shadow: -4px 1px 30px 3px rgba(61,38,61,0.79);
        box-shadow: -4px 1px 30px 3px rgba(61,38,61,0.79); */
    }
    .breadcrumb{
        max-width: 70%;
        margin:0 auto;
        background-image: url('/api/docs/background/UIBkAT.jpg');
        background-repeat: no-repeat;
        background-color: transparent;
        
    }
    
    .row:first-child > .col-md-12{
        display: flex;
    }
    .row{
        height: unset;
        position: relative;
        top: 5%;
    }
    .btn-submit{
        border-radius: 50px;
        min-width: 160px;
    }
    .footer-register{
        height: 10%;
    }
    @import "compass/css3";
    .seperator-wrapper {
      width: 100%;
    }

        .seperator-wrapper .seperator {
      width: 70%;
      margin: 0 auto;
      height: 5px;
      animation: rotate 3s infinite linear;
      -webkit-animation: rotate 3s infinite linear;
    }
    @-webkit-keyframes rotate {
      from {
        background-position: -3000px;
      }
      to {
        background-position: 0px;
      }
    }
    @keyframes rotate {
      from {
        background-position: -3000px;
      }
      to {
        background-position: 0px;
      }
    }
    .gradient {
      background: #30ff90;
      /* Old browsers */
      background: -moz-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, #30ff90), color-stop(25%, #ed2ded), color-stop(50%, #c99826), color-stop(75%, #30ffe6), color-stop(100%, #30ff90));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
      /* IE10+ */
      background: linear-gradient(to right, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30ff90', endColorstr='#30ff90',GradientType=1);
      /* IE6-9 */
    }
    .product-options > div:nth-child(2){
        text-align: right;
    }
    .proxy-keeb-degree > span{
        text-align: right;
        width: 100%
    }
</style>

<body id="top">
    <!-- <div id="preload" class="preload-container text-center">
        <span class="glyphicon glyphicon-repeat preload-icon rotating"></span>
    </div> -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand">
                <!-- Logo Image -->
                <img src="./favicon/logo.png" width="100" height="50" alt="" class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                <!-- <span class="text-uppercase font-weight-bold">Company</span> -->
            </a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="./" class="nav-link">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Proxy GrB</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Group Buy</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- </header> -->
    <nav class="before-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <!-- <li class="breadcrumb-item"><a href="#">Library</a></li> -->
            <li class="breadcrumb-item active" aria-current="page">Proxy GB</li>
        </ol>
    </nav>
    <section style="position: relative; top:1%" class="seperator-wrapper">
        <div class="seperator gradient">
        </div>
    </section>
    <!-- Breakcum-->
    <main class="main row">
        <div style="height: 75vh;" class="col-md-2">
            <sidebar class="sidebar">
            </sidebar>
        </div>
        <div style="" class="col-md-10">
            <div class="title-li">
                <p style="">Product details</p>
                <hr>
            </div>
            <% if(listCategory != null) { %> 
            <article class="row">
              <!-- <div class="row"> -->
                
                    <% listCategory.forEach(function(item){%>
                        
                <div  class="col-xs-6 col-sm-3 col-product">
                    <div class="make-3D-space">
                        <div class="product-card">
                            <div class="product-front">
                                <div class="shadow"></div>
                                <img style="width: 100%;
                height: 100%;
                object-fit: cover;" onerror="this.onerror=null; this.src='/api/docs/trash/image-not-found.png'" src="/api/<%= item.pic_profile.path %>" alt="" />
                                 <a href="/proxygb/product/<%=item.category_url_name%>"><div class="image_overlay">
                                   
                                </div></a>
                                <!-- <div class="view_details">
                                    <a href="/proxygb/product/<%=item.category_id%>">View details</a>
                                </div>  -->
                                <!---------------- for keeb ------------>
                                <% if(item.type == 0) { %>
                                <div class="stats">
                                    <div class="stats-container">
                                        <span class="product_price">
                                            <% console.log(item.max_price) %>
                                            <% if(item.max_price == null){%>
                                                <%= item.min_price %>$
                                            <% }else{ %>
                                                <%= item.min_price %>$ - <%= item.max_price %>$
                                            <%} %>

                                            $</span>
                                        <span class="product_name"><%= item.category_name %></span>
                                        <p style="margin-bottom: 0" class="fake-text"> <%=item.author %> - <%= item.proxy_host %></p>
                                        <div style="display: flex;" class="product-options">
                                            <div style="padding: 0" class="col-md-6">
                                                    <strong>Layout</strong>
                                            <span><%= item.k_layout%></span>
                                            <strong>Mounting</strong>
                                            <span><%= item.k_mounting%></span>
                                            <!-- <strong>COLORS</strong>
                                            <div class="colors">
                                                <% for (var key in item.k_color){%>
                                                <div data-toggle="tooltip" title="<%= item.k_color[key] %>" class="c-<%=   item.k_color[key] %>"><span></span></div>
                                                <%    } %>
                                                
                                            </div> -->
                                            </div>

                                            <div style="padding: 0" class="col-md-6">
                                                <strong>Layout</strong>
                                                <span>
                                                    <% for(var i in item.k_layout){ %>
                                                        <%= item.k_layout[i]%>&nbsp;
                                                    <% } %>   
                                                </span>
                                                <strong>Degree</strong>
                                                    <div style="display: flex;" class="proxy-keeb-degree">
                                                        <span>
                                                            <% for (var key in item.k_degree){%>
                                                                <%= item.k_degree[key]%>°&nbsp
                                                            <% } %>
                                                        </span>
                                                    </div>

                                                <strong>Start - End</strong>
                                                <span><%= (item.date_start).toLocaleDateString()%> - <%= (item.date_end).toLocaleDateString()%></span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!---------------- for keyset ------------>
                            <% } else if(item.type == 1) { %>
                                <div class="stats">
                                    <div class="stats-container">
                                        <span class="product_price">
                                            <% if(item.max_price == null){%>
                                                <%= item.min_price %>$
                                            <% }else{ %>
                                                <%= item.min_price %>$ - <%= item.max_price %>$
                                            <%} %>
                                        </span>
                                        <span class="product_name"><%= item.category_name %></span>
                                        <p style="margin-bottom: 0" class="fake-text"><%=item.author %> - <%= item.proxy_host %></p>
                                        <div class="product-options">
                                            <strong>Profile</strong>
                                            <span><%= item.c_profile %></span>
                                            <!-- <strong>COLORS</strong>
                                            <div class="colors">
                                                <div class="c-blue"><span></span></div>
                                                <div class="c-red"><span></span></div>
                                                <div class="c-white"><span></span></div>
                                                <div class="c-green"><span></span></div>

                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- for etc -->
                            <% } else if(item.type == 2) { %>
                               <div class="stats">
                                    <div class="stats-container">
                                        <span class="product_price">
                                             <% if(item.max_price == null){%>
                                                <%= item.min_price %>$
                                            <% }else{ %>
                                                <%= item.min_price %>$ - <%= item.max_price %>$
                                            <%} %>
                                        </span>
                                        <span class="product_name"><%= item.category_name %></span>
                                        <p style="margin-bottom: 0" class="fake-text"><%=item.author %> - <%= item.proxy_host %></p>
                                        <div class="product-options">
                                            <strong>Material</strong>
                                            <span><%= item.c_profile %></span>
                                            <!-- <strong>COLORS</strong>
                                            <div class="colors">
                                                <div class="c-blue"><span></span></div>
                                                <div class="c-red"><span></span></div>
                                                <div class="c-white"><span></span></div>
                                                <div class="c-green"><span></span></div>

                                            </div> -->
                                        </div>
                                    </div>
                                </div> 
                            <% } %>
                            </div>
                            <!-- <div class="product-back">
                                <div class="shadow"></div>
                                <div class="carousel">
                                    <ul>
                                        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large.png" alt="" /></li>
                                        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large2.png" alt="" /></li>
                                        <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large3.png" alt="" /></li>
                                    </ul>
                                    <div class="arrows-perspective">
                                        <div class="carouselPrev">
                                            <div class="y"></div>
                                            <div class="x"></div>
                                        </div>
                                        <div class="carouselNext">
                                            <div class="y"></div>
                                            <div class="x"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flip-back">
                                    <div class="cy"></div>
                                    <div class="cx"></div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                  </div>
                        
                    <%    }) %>
                
                  
                  
                  
                <!-- </div> -->
                
            </article>
            <% }else{ %>
            <% window.location.href = '/proxygb';  %>
            <% } %>
        </div>
    </main>
    <!-- main-->
    <div class="footer-register center">
    </div>
</body>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script type="text/javascript" src="/api/js/pjs/product/proxyPage/js.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/api/js/pjs/main.js"></script>

</html>