<!DOCTYPE html>
<html>

<head>
    <!--- basic page need
   ================================================== -->
    <meta charset="utf-8">
    <title>Proxy Group Buy</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- google fornt 
    ================================================= -->
    <!--  <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet"> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="#">
    <link rel="stylesheet" href="/api/css/pcss/keysetcolorcode.css">
    <link rel="stylesheet" href="/api/css/effect/navbar.css">
    <link rel="stylesheet" href="api/css/effect/preloading.css">
    <link rel="stylesheet" type="text/css" href="product/css/proxypage/style.css">
    <link rel="stylesheet" href="/product/css/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/api/css/pcss/line-awesome-1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/package/slick/slick.css">
    <!-- <link rel="stylesheet" type="text/css" href="/api/css/pcss/proxypage/product_card.css"> -->
    <link rel="stylesheet" type="text/css" href="/api/css/pcss/proxypage/product_card_w_text.css">
    <!-- <link rel="stylesheet" href="/api/css/pcss/main.css"> -->
    <!-- script
    ================================================== -->
    <script src="/api/js/pjs/modernizr.js"></script>
    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
</head>
<style>
    /* Generals resets and unimportant stuff */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
        font-family: "Montserrat", sans-serif !important;
        /* height: 100%; */
        width: 100%;
        /*background-image: url('/api/docs/background/UIBkAT.jpg');*/
        background-image: url('/api/docs/background/bg-black.svg');
        background-repeat: repeat;
        background-color: transparent;
        box-sizing: border-box;
    }
    nav.navbar{
        z-index: 10;
        position: sticky;
        top: 0;
        background-image: url('/api/docs/background/UIBkAT.jpg');
        background-repeat: no-repeat;
        /* clip-path: polygon(0 13%, 99% 24%, 100% 92%, 17% 86%); */

    }
    .bg-dark{
        background-color: transparent!important;
        /* clip-path: polygon(50% 0%, 100% 0, 100% 61%, 30% 86%, 0 52%, 0 0); */
    }
    
    .before-breadcrumb {
        opacity: 0.91;
        position: relative;
        top: 1%;
        background-color: rgba(54, 58, 64, 0.3);
        background-image: url('/api/docs/background/UIBkAT.jpg');
        background-repeat: no-repeat;
        filter: brightness(150%);
        /* -webkit-box-shadow: -4px 1px 30px 3px rgba(61,38,61,0.79);
        -moz-box-shadow: -4px 1px 30px 3px rgba(61,38,61,0.79);
        box-shadow: -4px 1px 30px 3px rgba(61,38,61,0.79); */
    }
    .breadcrumb{
        max-width: 70%;
        margin:0 auto;
        background-image: url('/api/docs/background/UIBkAT.jpg');
        background-repeat: no-repeat;
        background-color: transparent;
        
    }
    
    .row:first-child > .col-md-12{
        display: flex;
    }
    .row{
        height: unset;
        position: relative;
        top: 5%;
    }
    .btn-submit{
        border-radius: 50px;
        min-width: 160px;
    }
    .footer-register{
        height: 10%;
    }
    @import "compass/css3";
    .seperator-wrapper {
      width: 100%;
    }

        .seperator-wrapper .seperator {
      width: 70%;
      margin: 0 auto;
      height: 5px;
      animation: rotate 3s infinite linear;
      -webkit-animation: rotate 3s infinite linear;
    }
    @-webkit-keyframes rotate {
      from {
        background-position: -3000px;
      }
      to {
        background-position: 0px;
      }
    }
    @keyframes rotate {
      from {
        background-position: -3000px;
      }
      to {
        background-position: 0px;
      }
    }
    .gradient {
      background: #30ff90;
      /* Old browsers */
      background: -moz-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, #30ff90), color-stop(25%, #ed2ded), color-stop(50%, #c99826), color-stop(75%, #30ffe6), color-stop(100%, #30ff90));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(left, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
      /* IE10+ */
      background: linear-gradient(to right, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30ff90', endColorstr='#30ff90',GradientType=1);
      /* IE6-9 */
    }
    .product-options > div:nth-child(2){
        text-align: right;
    }
    .proxy-keeb-degree > span{
        text-align: right;
        width: 100%
    }
</style>

<body id="top">
    <!-- <div id="preload" class="preload-container text-center">
        <span class="glyphicon glyphicon-repeat preload-icon rotating"></span>
    </div> -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="./" class="navbar-brand">
                <!-- Logo Image -->
                <img src="./favicon/white_logo.png" alt="" class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                <!-- <span class="text-uppercase font-weight-bold">Company</span> -->
            </a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="./" class="nav-link text-decoration-none">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active"><a href="/proxygb" class="nav-link">shop</a></li>
                    <li class="nav-item"><a href="/service" class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- </header> -->
    <nav class="before-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Home</a></li>
            <!-- <li class="breadcrumb-item"><a href="#">Library</a></li> -->
            <li class="breadcrumb-item active" aria-current="page">Proxy GB</li>
        </ol>
    </nav>
    <section style="position: relative; top:1%" class="seperator-wrapper">
        <div class="seperator gradient">
        </div>
    </section>
    <!-- Breakcum-->
    <main class="main row">
        <div style="height: 75vh;" class="col-md-2">
            <sidebar class="sidebar">
            </sidebar>
        </div>
        <div style="" class="col-md-10">
            <div class="title-li">
                <p class="font-hello_jones">Shop </p>
                <hr>
            </div>
            <% if(listCategory != null) { %>
            <article class="row">
                <!-- <div class="row"> -->
                <% listCategory.forEach(function(item){%>
                   
                <div class="col-xs-6 col-sm-3 col-product">
                    
                    <div class="product-card-container">
                        <div class="card-product u-clearfix">
                            <!-- <div class="card-img">
                                <a href="#">
                                    <img onerror="this.onerror=null; this.src='/api/docs/trash/image-not-found.png'" src="/api/<%= item.pic_profile.path %>" alt="" class="product-card-media" width="300" height="300"/>
                                </a>
                            </div> -->
                            <div class="product-card-body">
                                <div class="card_status-container">
                                    <% if(item.status_gb == 0){ %>
                                        <p class="product-status status-end" style="">sale end</p>
                                    <% }else if(item.status_gb == 1){ %>
                                        <p class="product-status status-ic" style="">Interest Check</p>
                                    <% }else if(item.status_gb == 2){ %>
                                        <p class="product-status status-live" style="">On Sale</p>
                                        <% if(item.category_id == ePID){ %>
                                            <div class="js-timer u-timer d-flex"></div>
                                        <%}%>
                                        
                                    <% }else { %>

                                    <% } %>
                                </div>
                                <span class="product-card_product-name subtle"><%= item.category_name %></span>
                                <div class="card-img">
                                    <a href="/proxygb/product/<%= item.category_url_name%>">
                                        <img onerror="this.onerror=null; this.src='/api/docs/trash/image-not-found.png'" src="/api/<%= item.pic_profile.path %>" alt="" class="product-card-media" />
                                        <!-- width="300" height="300" -->
                                    </a>
                                </div>
                                <span class="product-card-description subtle"><%= item.product_belong %></span>
                                <div class="product-card-read"><a href="#">more</a></div>
                                <span class="product-card-tag subtle product-price">$<%= item.min_price %> - $<%= item.max_price %></span>
                            </div>
                        </div>
                        <div class="product-card-shadow"></div>
                    </div>
                </div>
                   
                <%    }) %>
                <!-- </div> -->
            </article>
            <% }else{ %>
            <% window.location.href = '/proxygb';  %>
            <% } %>
        </div>
    </main>
    <!-- main-->
    <div class="footer-register center">
    </div>
</body>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script type="text/javascript" src="/api/js/pjs/product/proxyPage/js.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/api/js/pjs/main.js"></script>
<script src="/api/js/pjs/vendors/jquery.countdown.js"></script>
<script src="/package/vendors/jquery.countdown/jquery.countdown.min.js"></script>

</html>