<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Page | Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/api/css/style.css">
</head>

<body>
    <h1 class="text-middle">Product List</h1>
    <!-- <img src="1435.jpg"> -->
    <% if(listProduct!= null) { %>
    <div class="box-body table-responsive no-padding tb-responsive-listaccount">
        <div id="tableContainer tb-container-listaccount">
            <table id="data-table-list-product" class="table table-hover" id="dataTables1">
                <thead>
                    <tr>
                        <th> picture</th>
                        <th> category id</th>
                        <th>  id</th>
                        <th>  name</th>
                        <th>  part</th>
                        <th> outstock</th>
                        <th> material</th>
                        <th> color / option</th>
                        <th> price ($)</th>
                        <!-- <th> password</th> -->
                        <th></th>
                    </tr>
                </thead>
                <!-- <tbody></tbody> -->
                <% listProduct.forEach(function(item){ %>
                <tr class="align-middle">
                    <td style="width: 120px; height: 120px;">
                        <a id="single_image" href="<%= item.pic_product.path %>" data-fancybox="html5-video"><img style="max-width: 100%;width: 120px;height: 120px; object-fit: cover;" src="<%= item.pic_product.path %>"></a>
                    </td>
                    <td>
                        <% listCategory.forEach(function(item2){ %>
                        <% if(item.category_id == item2.category_id){ %>
                                <%= item.category_id %> - <%= item2.category_name %>
                        <%  }else{ %>

                        <%  }   %>

                        
                        <% }) %>
                    </td>
                    <td>
                        <%= item.product_id %>
                    </td>
                    <td>
                        <%= item.product_name %>
                    </td>
                    <td>
                        <% if(item.product_part == 0 ) { %>
                        <span>Top Case</span>
                        <% }else if(item.product_part == 1) { %>
                        <span>Bottom Case</span>
                        <% }else if(item.product_part == 2) { %>
                        <span>Plate</span>
                        <% }else if(item.product_part == 3) { %>
                            <span>Frame</span>
                        <% }else { %>
                            <span>Keyset</span>
                        <% } %>
                    </td>
                    <td>
                        <% if(item.outstock == 0) {%>
                        <i style="color: #dc3545" class="fas fa-exclamation-circle fa-2x">Sold out</i> 
                        <% }else{ %>
                           <i style="color: #28a745" class="fas fa-check fa-2x">Instock</i>
                           <% }%>
                    </td>
                    <td>
                         <% if(item.product_part == 0 ) { %>
                        <%= item.k_top_material %>
                        <% }else if(item.product_part == 1) { %>
                        <%= item.k_bot_material %>
                        <% }else if(item.product_part == 2) { %>
                        <%= item.k_plate_material %>
                        <% }else if(item.product_part == 3) { %>
                            <%= item.k_frame_material %>
                        <% }else { %>
                        <% console.log(item.c_metatiral) %>
                            <% if(item.c_material == 0) { %>
                                    <span>ABS</span>
                            <% }else if(item.c_material == 1) { %>
                                     <span>PBT</span>
                            <% }else if(item.c_material == 2) { %>
                                         <span>POM</span>
                            <% }else if(item.c_material == 3) { %>
                                         <span>ETC</span>
                            <% } %>
                        <% } %>
                    </td>
                    <td>
                         <% if(item.product_part == 0 ) { %>
                        <%= item.k_top_color %>
                        <% }else if(item.product_part == 1) { %>
                        <%= item.k_bot_color %>
                        <% }else if(item.product_part == 2) { %>
                        <%= item.k_plate_option %>
                        <% }else if(item.product_part == 3) { %>
                            <%= item.k_frame_color %>
                        <% }else if(item.product_part == 4) { %>
                            <%= item.c_code_color %>
                        <% } %>
                    </td>
                    <td>
                        <%= item.price %>
                    </td>
                    <td><a href="#" class="btn btn-danger btn-delete" data-id='<%=item._id %>'>
                            <div><i class="fas fa-trash"></i></div>
                        </a>&nbsp;<a href="product/edit/<%=item._id%>" class="btn btn-primary btn-edit" data-id='<%=item._id %>'>
                            <div><i class="fas fa-edit"></i></div>
                        </a></td>
                </tr>
                <%    }) %>
            </table>
        </div>
    </div>
    <% } %>
    <div style="text-align: center;">
        <button><a href="product/add">ADD</a></button>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<!-- <script src="js/listAccount.js"></script> -->
<script type="text/javascript">
$(document).ready(function() {
    $('#data-table-list-product').dataTable({
        "aoColumns": [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
        ],
        "language": {
            searchPlaceholder: 'Search...',
            sSearch: ''
        },
        "columnDefs": [
            { "targets": 0, "orderable": false },
            { "targets": 4, "orderable": false },

        ],
    });
    $('.btn-delete').on('click', function(e) {
        e.preventDefault();
        const id = $(this).attr('data-id');
        console.log(id);
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            // backdrop: `
            //             rgba(0,0,123,0.4)
            //             url("/api/docs/background/UIBkAT.jpg")
            //             left top
            //             no-repeat
            //             `,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: 'DELETE',
                    url: ' product/delete/' + id,
                    success: function(res) {
                        location.reload();
                    },
                    error: function(err) {
                        console.log(err);
                    }
                })

            }
        })

    });



    $("a#single_image").fancybox({
        iframe: {
            preload: false,

        },

    });


});
</script>

</html>