<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>NoobKey</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- google fornt 
    ================================================= -->
    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/api/css/pcss/base.css">
    <link rel="stylesheet" href="/api/css/pcss/vendor.css">
    <link rel="stylesheet" href="/api/css/pcss/main.css">
    <link rel="stylesheet" href="/api/css/pcss/customize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
    <!-- script
    ================================================== -->
    <script src="/api/js/pjs/modernizr.js"></script>
    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
</head>
<style>
.home-social .container {
    position: relative;
    width: 400px;
    height: 400px;

}

.home-social .container .text-container,
.container .shadow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-social .container .text {
    position: absolute;
    top: 50%;
    font-size: 12rem;
    font-family: "Bebas Neue";
    font-weight: bold;
    -webkit-text-stroke: 2px #161618;
    letter-spacing: 4px;
    user-select: none;
    pointer-events: none;
}

.home-social .container .text .icon {
    position: absolute;
    width: 1vw;
    height: 1vw;
    stroke-width: 25px;
    stroke: #161618;
    transform: translate(-50%, -50%);
    animation: scaleUpdown 2000ms ease-in-out infinite;
}

.home-social .container .text .icon:nth-child(1) {
    top: 30%;
    left: 2.5%;
    animation-delay: 0;
}

.home-social .container .text .icon:nth-child(2) {
    top: 62%;
    left: 24.5%;
    animation-delay: -200ms;
}

.home-social .container .text .icon:nth-child(3) {
    top: 13%;
    left: 70%;
    animation-delay: -480ms;
}

.home-social .container .text .icon:nth-child(4) {
    top: 56%;
    left: 99.5%;
    animation-delay: -940ms;
}

.home-social .container .text-container {
    z-index: 6;
}

.home-social .container .text-container .text .icon {
    fill: #f2f2f2;
}

.home-social .container .text-container .text:nth-child(1) {
    opacity: 0;
    left: 42.5%;
    transform: translate(-50%, -50%);
    animation: upDown 2000ms ease-in-out infinite;
    animation-delay: calc(0s + (0.1s * 1));
    z-index: -1;
}

.home-social .container .text-container .text:nth-child(2) {
    opacity: 0;
    left: 45%;
    transform: translate(-50%, -50%);
    animation: upDown 2000ms ease-in-out infinite;
    animation-delay: calc(0s + (0.1s * 2));
    z-index: -2;
}

.home-social .container .text-container .text:nth-child(3) {
    opacity: 0;
    left: 47.5%;
    transform: translate(-50%, -50%);
    animation: upDown 2000ms ease-in-out infinite;
    animation-delay: calc(0s + (0.1s * 3));
    z-index: -3;
}

.home-social .container .text-container .text:nth-child(4) {
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: upDown 2000ms ease-in-out infinite;
    animation-delay: calc(0s + (0.1s * 4));
    z-index: -4;
}

.home-social .container .text-container .text:nth-child(5) {
    opacity: 0;
    left: 52.5%;
    transform: translate(-50%, -50%);
    animation: upDown 2000ms ease-in-out infinite;
    animation-delay: calc(0s + (0.1s * 5));
    z-index: -5;
}

.home-social .container .text-container .text:nth-child(6) {
    opacity: 0;
    left: 55%;
    transform: translate(-50%, -50%);
    animation: upDown 2000ms ease-in-out infinite;
    animation-delay: calc(0s + (0.1s * 6));
    z-index: -6;
}

.home-social .container .text-container .text:nth-child(7) {
    opacity: 0;
    left: 57.5%;
    transform: translate(-50%, -50%);
    animation: upDown 2000ms ease-in-out infinite;
    animation-delay: calc(0s + (0.1s * 7));
    z-index: -7;
}

.home-social .container .shadow-container {
    z-index: 0;
}

.home-social .container .shadow-container .text {
    -webkit-text-stroke: 0;
    letter-spacing: -2px;
    color: #6d7881;
    top: 54%;
}

.home-social .container .shadow-container .text:nth-child(1) {
    opacity: 0;
    left: 37.5%;
    transform: translate(-50%, -50%);
    animation: upDown 2000ms ease-in-out infinite;
    animation-delay: calc(0s + (0.1s * 1));
    z-index: - 8;
}

.home-social .container .shadow-container .text:nth-child(2) {
    opacity: 0;
    left: 40%;
    transform: translate(-50%, -50%);
    animation: upDown 2000ms ease-in-out infinite;
    animation-delay: calc(0s + (0.1s * 2));
    z-index: - 9;
}

.home-social .container .shadow-container .text:nth-child(3) {
    opacity: 0;
    left: 42.5%;
    transform: translate(-50%, -50%);
    animation: upDown 2000ms ease-in-out infinite;
    animation-delay: calc(0s + (0.1s * 3));
    z-index: - 10;
}

.home-social .container .shadow-container .text:nth-child(4) {
    opacity: 0;
    left: 45%;
    transform: translate(-50%, -50%);
    animation: upDown 2000ms ease-in-out infinite;
    animation-delay: calc(0s + (0.1s * 4));
    z-index: - 11;
}

.home-social .container .shadow-container .text:nth-child(5) {
    opacity: 0;
    left: 47.5%;
    transform: translate(-50%, -50%);
    animation: upDown 2000ms ease-in-out infinite;
    animation-delay: calc(0s + (0.1s * 5));
    z-index: - 12;
}

.home-social .container .shadow-container .text:nth-child(6) {
    opacity: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: upDown 2000ms ease-in-out infinite;
    animation-delay: calc(0s + (0.1s * 6));
    z-index: - 13;
}

.home-social .container .shadow-container .text:nth-child(7) {
    opacity: 0;
    left: 52.5%;
    transform: translate(-50%, -50%);
    animation: upDown 2000ms ease-in-out infinite;
    animation-delay: calc(0s + (0.1s * 7));
    z-index: - 14;
}

.home-social .container .shadow-container .text .icon {
    fill: #6d7881;
    stroke-width: 0;
}

@keyframes upDown {

    0%,
    100% {
        opacity: 1;
        transform: translate(-50%, -70%);
    }

    50% {
        transform: translate(-50%, -30%);
    }
}

@keyframes scaleUpdown {
    0% {
        transform: translate(-50%, -50%) scale(1) rotate(0);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.4) rotate(90deg);
    }

    100% {
        transform: translate(-50%, -50%) scale(1) rotate(180deg);
    }
}

@keyframes animatedBackground_a {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -500px 0
    }
}
@media only screen and (max-width: 414px){
    .main-content-homepage{
        padding-top: 5rem!important;
    }
    .main-content-homepage > h2{
        font-size: 30px!important;
    }
    .main-content-homepage > h2, .main-content-homepage > p{
        padding: 0 0!important
    }
    .main-content-homepage > p{
        font-size: 26px!important
    }
    .home-content__scroll{
        display: none
    }
}
</style>

<body id="top">
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- header
    ================================================== -->
    <header class="s-header">
        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="./favicon/logo-sample.png" alt="Homepage">
            </a>
        </div> <!-- end header-logo -->
        <div class="header-wraper" style="display: inline-block;width: 70%">
        </div>
        <!-- <div class="header-login" style="display: inline-block;top: 19%;position: relative;">
            <ul style="list-style: none;display: inline-flex;">
                <li ><a style="color: white" href="#">Login</a></li>&nbsp;|
                <li ><a style="color: white" href="#">Signup</a></li>
            </ul>
        </div> -->
        <nav class="header-nav">
            <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
            <h3>Navigate to</h3>
            <div class="header-nav__content">
                <ul class="header-nav__list">
                    <div id="form-login" class="hidden">
                    </div>
                    <li><a href="./proxygb" title="Proxy Group Buy">PROXY GB</a></li>
                    <!-- <li><a class="" href="#" title="Group Buy">GROUP BUY</a></li> -->
                    <li><a href="./account" title="Account">ACCOUNT</a></li>
                    <li><a class="smoothscroll" href="#" title="works">GALLERY</a></li>
                    <li><a class="smoothscroll" href="#aboutus" title="aboutus">ABOUT US</a></li>
                    <li><a class="smoothscroll" href="#contact" title="contact">BLOG</a></li>
                    <li><a class="smoothscroll" href="#support" title="support">SUPPORT</a></li>
                    <br>
                    <li>
                        <% if (user) { %>
                        <a id="login" href="./account" title="account">
                            <i class="fas fa-user"></i>&nbsp;
                            <span style="font-size: 14px;font-style: oblique;">
                                <%= user %></span>
                        </a>
                        <% } else { %>
                        <a id="login" href="./register" title="account">
                            <i class="fas fa-user"></i>LOGIN</a>
                        </a>
                        <% } %>
                    </li>
                    <!-- <li><a class="smoothscroll" href="#cart" title="cart"><i class="fas fa-shopping-cart"></i>Cart(0)</a></li> -->
                </ul>
                <p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>
                <ul class="header-nav__social">
                    <li>
                        <a href="#0"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                    <!-- <li>
                        <a href="#0"><i class="fab fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fab fa-dribbble"></i></a>
                    </li> -->
                    <li>
                        <a class="video-link" href="https://player.vimeo.com/video/117310401?color=01aef0&title=0&byline=0&portrait=0" data-lity>
                            <!-- <span class="video-icon"></span> -->
                            <i class="fas fa-video"></i>
                            <!-- <span class="video-text">Watch Video</span> -->
                        </a>
                    </li>
                </ul>
            </div> <!-- end header-nav__content -->
        </nav> <!-- end header-nav -->
        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-icon"></span>
        </a>
    </header> <!-- end s-header -->
    <!-- home
    ================================================== -->
    <section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="/docs/pimg/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
        <div class="grid-overlay">
            <div></div>
        </div>
        <div class="home-content">
            <div class="row home-content__main">
                <!--  <h1>
                Sublime
                </h1> -->
                <!--  <h3>
                We build brands and beautiful experiences
                </h3> -->
                <!-- <div class="home-content__video">
                    <a class="video-link" href="https://player.vimeo.com/video/117310401?color=01aef0&title=0&byline=0&portrait=0" data-lity>
                        <span class="video-icon"></span>
                        <span class="video-text">Watch Video</span>
                    </a>
                </div> -->
                <section class="u-content-space u-overlay__inner text-white text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8" style="">
                                <header class="mb-8 main-content-homepage">
                                    <!-- <h2 class="display-5 display-sm-4 font-weight-light mb-4">We are coming soon!</h2>
                                    <p class="lead">Currently we are working on our brand new website and will be lunching soon. Do not miss it, subscribe below to keep updated.</p> -->
                                    <h2 class="display-5 display-sm-4 font-weight-light mb-4" style="font-weight: bold;font-size: 50px;text-shadow: #A3A3A3 1px 7px 1px;-webkit-text-stroke: 1.5px #000000;">
                                        <span style="color:#ff4600">T</span>
                                        <span style="color:#ff8b00">H</span>
                                        <span style="color:#ffd100">E</span>
                                        <span style="color: transparent;text-shadow: none;">&nbsp;</span>
                                        <span style="color:#a2ff00">G</span>
                                        <span style="color:#5dff00">B</span>
                                        <span style="color: transparent;text-shadow: none;">&nbsp;</span>
                                        <span style="color:#00ff2e">O</span>
                                        <span style="color:#00ff74">F</span>
                                        <span style="color: transparent;text-shadow: none;">&nbsp;</span>
                                        <span style="color:#00ffff">L</span>
                                        <span style="color:#00b9ff">I</span>
                                        <span style="color:#0074ff">N</span>
                                        <span style="color: transparent;text-shadow: none;">&nbsp;</span>
                                        <span style="color:#1700ff">W</span>
                                        <span style="color:#5d00ff">H</span>
                                        <span style="color:#a200ff">A</span>
                                        <span style="color:#e800ff">L</span>
                                        <span style="color:#ff00d1">E</span>
                                        <span style="color: transparent;text-shadow: none;">&nbsp;</span>
                                        <span style="color:#ff0046">7</span>
                                        <span style="color:#ff0000">5</span>
                                    </h2>
                                    <p class="lead" style="background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);    -webkit-animation: animatedBackground_a 5s linear infinite alternate;    background-clip: text;    -webkit-background-clip: text;    -webkit-text-fill-color: #0000;font-weight: 700">Click link below to join.</p>
                                </header>
                                <div class="js-timer u-timer"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="home-content__button">
                    <!-- <a href="#" class="smoothscroll btn btn--primary btn--large">
                        See More
                    </a> -->
                    <a href="https://geekhack.org/index.php?topic=109892.0" class="btn btn--primary btn--large" target="_blank">
                        <!-- See More --> The Geekhack Post
                    </a>
                    <!-- <a href="#contact" class="smoothscroll btn btn--large">
                        Let's Talk
                    </a> -->
                    <a href="https://www.reddit.com/r/mechmarket/comments/kc5omv/gb_whale_75_gb_lin_works/" class="btn btn--large" target="_blank">
                        The Reddit Post
                    </a>
                </div>
            </div> <!-- end home-content__main -->
            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    Scroll
                </a>
            </div>
        </div> <!-- end home-content -->
        <ul class="home-social">
            <% if(user!= null) { %>
            <li>
                <a id="login" href="#"><i class="fas fa-user"></i><span>
                        <%= user %></span></a>
            </li>
            <% }else{ %>
            <li>
                <a id="login" href="#"><i class="fas fa-user"></i><span>Signin</span></a>
            </li>
            <% } %>
            <li>
                <a href="/proxygb"><i class="fas fa-flag"></i><span>ProxyGB</span></a>
            </li>
            <li>
                <a href="#0"> <i class="fas fa-users"></i><span>GroupBuy</span></a>
            </li>
            <li>
                <a href="#0"><i class="fas fa-images"></i><span>Gallery</span></a>
            </li>
            <li>
                <a class="video-link" href="https://player.vimeo.com/video/117310401?color=01aef0&title=0&byline=0&portrait=0" data-lity>
                    <!-- <span class="video-icon"></span> -->
                    <i class="fas fa-video"></i>
                    <span class="video-text">Intro</span>
                </a>
            </li>
        </ul> <!-- end home-social -->
        <!-- <ul style="bottom:20rem;" class="home-social">
            <li>
                <a id="login" href="#"><i class="fas fa-user"></i><span>Signin</span></a>
            </li> -->
        <!-- <div class="container">
                <div class="text-container"><span class="text">VIBES<div class="icon--container"><svg class="icon star">
                                <use xlink:href="#star"></use>
                            </svg><svg class="icon star">
                                <use xlink:href="#star"></use>
                            </svg><svg class="icon star">
                                <use xlink:href="#star"></use>
                            </svg><svg class="icon star">
                                <use xlink:href="#star"></use>
                            </svg></div></span><span class="text">VIBES</span><span class="text">VIBES</span><span class="text">VIBES</span><span class="text">VIBES</span><span class="text">VIBES</span><span class="text">VIBES</span></div>
                <div class="shadow-container"><span class="text shadow">VIBES<div class="icon--container"><svg class="icon star">
                                <use xlink:href="#star"></use>
                            </svg><svg class="icon star">
                                <use xlink:href="#star"></use>
                            </svg><svg class="icon star">
                                <use xlink:href="#star"></use>
                            </svg><svg class="icon star">
                                <use xlink:href="#star"></use>
                            </svg></div></span><span class="text shadow">VIBES</span><span class="text shadow">VIBES</span><span class="text shadow">VIBES</span><span class="text shadow">VIBES</span><span class="text shadow">VIBES</span><span class="text shadow">VIBES</span></div>
            </div>
            <svg class="icons">
                <symbol id="star" viewbox="0 0 296.789 296.789">
                    <path d="m 128.07699,246.6702 16.62278,44.87778 c 0.62488,1.68958 2.24042,2.81007 4.04647,2.81007 1.80605,0 3.42159,-1.12049 4.04646,-2.81007 l 16.62278,-44.87778 c 13.45522,-36.3312 42.2174,-64.97071 78.70166,-78.36601 l 45.06998,-16.55188 c 1.69428,-0.62221 2.81958,-2.23087 2.81958,-4.02922 0,-1.79835 -1.1253,-3.40699 -2.81958,-4.0292 l -45.07253,-16.5519 C 211.63034,113.74417 182.86815,85.107178 169.41548,48.778514 L 152.7927,3.900743 c -0.62487,-1.6870583 -2.24041,-2.8075483 -4.04646,-2.8075483 -1.80605,0 -3.42159,1.12049 -4.04647,2.8075483 L 128.07699,48.778514 C 114.62179,85.107178 85.862143,113.74417 49.375346,127.14199 l -45.0725171,16.5519 c -1.694284,0.62221 -2.819573,2.23085 -2.819573,4.0292 0,1.79835 1.125289,3.40701 2.819573,4.02922 l 45.0699771,16.55188 c 36.486798,13.3953 65.248984,42.03228 78.704184,78.36601 z"></path>
                </symbol>
            </svg> -->
        <!-- </ul> end home-social -->
    </section> <!-- end s-home -->
    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">
        <div class="row section-header bit-narrow" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Who We Are</h3>
                <h1 class="display-1">
                    We are Noobteam's member, a technicians and consultants have many years of experience with custom keyboard. We put responsibility and excellence first in our work
            </div>
        </div> <!-- end section-header -->
        <!--  <div class="row bit-narrow" data-aos="fade-up">
            <div class="col-full">
                <p class="lead">
                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget malesuada. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                </p>
            </div>
        </div>  -->
        <!-- end about-desc -->
        <div class="row bit-narrow">
            <div class="about-process process block-1-2 block-tab-full">
                <% if(listContent){%>
                <% listContent.forEach(function(item){%>
                <% if(item.content_type == 1){%>
                <div class="col-block item-process" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">Consultation</h4>
                        <%- item.specs %>
                    </div>
                </div>
                <% }else if(item.content_type == 2){ %>
                <div class="col-block item-process" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">Assembled</h4>
                        <%- item.specs %>
                    </div>
                </div>
                <% }else if(item.content_type == 3){ %>
                <div class="col-block item-process" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">Lube Service</h4>
                        <%- item.specs %>
                    </div>
                </div>
                <% }else if(item.content_type == 4){ %>
                <div class="col-block item-process" data-aos="fade-up">
                    <div class="item-process__text">
                        <h4 class="item-title">Support</h4>
                        <%- item.specs %>
                    </div>
                </div>
                <%}%>
                <% }) %>
                <%}%>
            </div> <!-- end process -->
        </div> <!-- end row -->
    </section> <!-- end s-about -->
    <!-- services
    ================================================== -->
    <!-- <section id='services' class="s-services target-section darker">
        <div class="row section-header bit-narrow" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">What we do</h3>
                <h1 class="display-1">
                    We take pride in what we do. Our services are designed to help
                    your business stand out and turn your ideas into digital realities.
                </h1>
            </div>
        </div> 
        <div class="row bit-narrow services block-1-2 block-tab-full">
            <div class="col-block item-service" data-aos="fade-up">
                <div class="item-service__icon">
                    <i class="icon-star"></i>
                </div>
                <div class="item-service__text">
                    <h3 class="item-title">Brand Identity</h3>
                    <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
                        Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
                        Sunt suscipit voluptas ipsa in tempora esse soluta sint.
                    </p>
                </div>
            </div>
            <div class="col-block item-service" data-aos="fade-up">
                <div class="item-service__icon">
                    <i class="icon-group"></i>
                </div>
                <div class="item-service__text">
                    <h3 class="item-title">Illustration</h3>
                    <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
                        Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
                        Sunt suscipit voluptas ipsa in tempora esse soluta sint.
                    </p>
                </div>
            </div>
            <div class="col-block item-service" data-aos="fade-up">
                <div class="item-service__icon">
                    <i class="icon-pie-chart"></i>
                </div>
                <div class="item-service__text">
                    <h3 class="item-title">Marketing</h3>
                    <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
                        Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
                        Sunt suscipit voluptas ipsa in tempora esse soluta sint.
                    </p>
                </div>
            </div>
            <div class="col-block item-service" data-aos="fade-up">
                <div class="item-service__icon">
                    <i class="icon-image"></i>
                </div>
                <div class="item-service__text">
                    <h3 class="item-title">Photography</h3>
                    <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
                        Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
                        Sunt suscipit voluptas ipsa in tempora esse soluta sint.
                    </p>
                </div>
            </div>
            <div class="col-block item-service" data-aos="fade-up">
                <div class="item-service__icon">
                    <i class="icon-cube"></i>
                </div>
                <div class="item-service__text">
                    <h3 class="item-title">UI/UX Design</h3>
                    <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
                        Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
                        Sunt suscipit voluptas ipsa in tempora esse soluta sint.
                    </p>
                </div>
            </div>
            <div class="col-block item-service" data-aos="fade-up">
                <div class="item-service__icon"><i class="icon-lego-block"></i></div>
                <div class="item-service__text">
                    <h3 class="item-title">Frontend Design</h3>
                    <p>Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium.
                        Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis.
                        Sunt suscipit voluptas ipsa in tempora esse soluta sint.
                    </p>
                </div>
            </div>
        </div> 
    </section>  -->
    <!-- end s-services -->
    <!-- works
    ================================================== -->
    <section id="works" class="s-works target-section">
        <div class="row section-header has-bottom-sep narrow target-section" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Our Work</h3>
                <h1 class="display-1">
                    We assembled mechkey, custom cable, and experiences that people love. Check out our recent works.
                </h1>
            </div>
        </div> <!-- end section-header -->
        <div class="row masonry-wrap">
            <div class="masonry">
                <!-- <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="/api/docs/pimg/portfolio/gallery/b.jpg" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                <img src="/api/docs/pimg/portfolio/b.jpg" srcset="/api/docs/pimg/portfolio/b.jpg 1x, /api/docs/pimg/portfolio/lady-shutterbug@2x.jpg 2x" alt="">
                            </a>
                        </div>
                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                TGR 910 RE Polycarbonate
                            </h3>
                            <p class="item-folio__cat">
                                TGR
                            </p>
                        </div>
                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="icon-link"></i>
                        </a>
                        <div class="item-folio__caption">
                            <p>The famous product 65% keyboard from TGR team.</p>
                        </div>
                    </div>
                </div> -->
                <% if(listAdsProduct){ %>
                <% listAdsProduct.forEach(function(item){%>
                <% if(item.status != 0){ %>
                <div class="masonry__brick" data-aos="fade-up">
                    <div class="item-folio">
                        <div class="item-folio__thumb">
                            <a href="/api/<%=item.pic_product.path%>" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                <img src="/api/<%=item.pic_product.path%>" srcset="/api/<%=item.pic_product.path%> 1x, /api/<%=item.pic_product.path%> 2x" alt="">
                            </a>
                        </div>
                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                <%= item.product_name %>
                            </h3>
                            <p class="item-folio__cat">
                                <%= item.author_name %>
                            </p>
                        </div>
                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="icon-link"></i>
                        </a>
                        <div class="item-folio__caption">
                            <p>
                                <%- item.specs %>
                            </p>
                        </div>
                    </div>
                </div>
                <% } %>
                <% })%>
                <% }else{ %>
                <% } %>
            </div>
        </div> <!-- end masonry-wrap -->
    </section> <!-- end s-works -->
    <!-- clients
    ================================================== -->
    <section id="clients" class="s-clients target-section darker">
        <div class="grid-overlay">
            <div></div>
        </div>
        <div class="row section-header text-center narrow" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Our Clients</h3>
                <h1 class="display-1">Who we have work with</h1>
            </div>
        </div> <!-- end section-header -->
        <div class="row clients-wrap" data-aos="fade-up">
            <div class="col-twelve">
                <ul class="clients">
                    <li><a href="#0">Grab</a></li>
                    <li><a href="#0">GHTK</a></li>
                    <li><a href="#0">GHN</a></li>
                    <li><a href="#0">ViettlePost</a></li>
                    <li><a href="#0">J&T Express</a></li>
                    <li><a href="#0">DHL</a></li>
                    <li><a href="#0">VNMK</a></li>
                    <li><a href="#0">VKG</a></li>
                    <!--  <li><a href="#0">Mozilla</a></li>
                    <li><a href="#0">Apple</a></li>
                    <li><a href="#0">Google</a></li>
                    <li><a href="#0">Asus</a></li> -->
                </ul>
            </div>
        </div>
    </section> <!-- end s-clients -->
    <!-- testimonies
    ================================================== -->
    <section class="s-testimonials">
        <div class="testimonials__icon" data-aos="fade-up"></div>
        <div class="row testimonials narrow">
            <div class="col-full testimonials__slider" data-aos="fade-up">
                <div class="testimonials__slide">
                    <p>Qui ipsam temporibus quisquam vel. Maiores eos cumque distinctio nam accusantium ipsum.
                        Laudantium quia consequatur molestias delectus culpa facere hic dolores aperiam. Accusantium quos qui praesentium corpori.</p>
                    <div class="testimonials__author">
                        Tim Cook
                        <span>CEO, Apple</span>
                    </div>
                </div> <!-- end testimonials__slide -->
                <div class="testimonials__slide">
                    <p>Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci.
                        Nisi eaque consequatur. Quasi voluptas eius distinctio. Atque eos maxime. Qui ipsam temporibus quisquam vel.</p>
                    <div class="testimonials__author">
                        Sundar Pichai
                        <span>CEO, Google</span>
                    </div>
                </div> <!-- end testimonials__slide -->
                <div class="testimonials__slide">
                    <p>Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.
                        Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.</p>
                    <div class="testimonials__author">
                        Satya Nadella
                        <span>CEO, Microsoft</span>
                    </div>
                </div> <!-- end testimonials__slide -->
            </div> <!-- end testimonials__slider -->
        </div> <!-- end testimonials -->
    </section> <!-- end s-testimonials -->
    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact target-section">
        <div class="grid-overlay">
            <div></div>
        </div>
        <div class="row section-header narrow" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Keep In Touch</h3>
                <h1 class="display-1">Feel free to contact us for any <br> project idea or collaboration</h1>
            </div>
        </div> <!-- end section-header -->
        <div class="row contact-main" data-aos="fade-up">
            <div class="col-full">
                <p class="contact-email">
                    <a style="font-size: 8rem" href="mailto:noobassembly@gmail.com">noobassembly@gmail.com</a>
                </p>
                <p class="contact-address">
                    alley 4, 10 street, Hiep Binh Chanh ward, Thu Duc district<br>
                    HCM, 700000 VN
                </p>
                <p class="contact-numbers">
                    +84 (83) 922 0900 &nbsp; +84 (77) 284 2602
                </p>
                <ul class="contact-social">
                    <li>
                        <a href="https://www.facebook.com/noobassembly"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/messenger/noobassembly"><i class="fab fa-facebook-messenger"></i></a>
                    </li>
                    <!-- <li>
                        <a href="#0"><i class="fab fa-twitter"></i></a>
                    </li> -->
                    <li>
                        <a href="#0"><i class="fab fa-instagram"></i></a>
                    </li>
                    <!-- <li>
                        <a href="#0"><i class="fab fa-trello"></i></a>
                    </li> -->
                    <!-- <li>
                        <a href="#0"><i class="fab fa-dribbble"></i></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </section> <!-- end s-contact -->
    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full ss-copyright">
                <span>© Copyright Noobteam 2017</span>
                <span>Design by <a href="https://www.facebook.com/noobassembly">Noobteam</a></span>
            </div>
        </div>
        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">Back to Top</a>
        </div>
    </footer>
    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div> <!-- end photoSwipe background -->
    <!-- Java Script
    ================================================== -->
    <script src="/api/js/pjs/jquery-3.2.1.min.js"></script>
    <script src="/api/js/pjs/plugins.js"></script>
    <script src="/api/js/pjs/main.js"></script>
    <script src="/api/js/pjs/vendors/jquery.countdown.js"></script>
    <script src="/api/js/pjs/vendors/parallax.js"></script>
    <script src="/package/vendors/jquery.countdown/jquery.countdown.min.js"></script>
    <script src="/package/vendors/jquery.parallax.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
    <script>
    $(function() {
        const textArr = document.querySelectorAll('.text')
        const colorArr = ["#fefefe", "#ff9b00", "#ff3434", "#db38f0", "#0096fb", "#00c500", "#ffd200"]
        textArr.forEach((text, index) => {
            text.style.color = colorArr[index]
        })
        var x = document.cookie;
        console.log(x);
        const ggcaptchasitekey = '6Lcti9UUAAAAADIUivaJtXit0OKia78-EQIbnDkc';
        fetch('/get_cookie')
            .then(function(response) {

                if (!response.ok) {
                    throw Error(response.statusText);
                }
                // Read the response as json.
                return response.json();
            })
            .then(function(responseAsJson) {
                // Do stuff with the JSON
                // console.log(responseAsJson);

                var user = responseAsJson;
                // console.log(user);
                // console.log(user.session['email'])

                var formLogin = $('.swal2-container').clone()[0]
                $('#form-login').remove();


                // $('.home-social #login, #login').on('click', function(e) {
                //     e.preventDefault();
                //     // var formLogin = $('#form-login > form').clone()[0]
                //     if (responseAsJson['code'] != 200) {
                //         Swal.fire({
                //             title: 'Your profile',
                //             showConfirmButton: false,
                //             width: '600px',
                //             // background: '#fff url(/api/docs/background/UIBkAT.jpg) no-repeat' ,

                //             backdrop: `
                //         rgba(0,0,123,0.4)
                //         url("/api/docs/background/UIBkAT.jpg")
                //         left top
                //         no-repeat
                //     `,
                //             heightAuto: true,
                //             html: "<div  class='form-group form-info'><div class='row'><div  class='col-md-8'>   <div  class='col-md-2'>      <label >email:</label> <input id='email' type='email' value='" + user.session['email'] + "' disabled/>   </div>     <div  class='col-md-2'>      <label >first name:</label> <input id='email' type='text' value='" + user.session['fname'] + "' disabled/>   </div>  <div  class='col-md-2'>      <label >last name:</label> <input id='email' type='text' value='" + user.session['lname'] + "' disabled/>   </div>    <form id='updatepassword' >        <div  class='col-md-2'>          <label >current password:</label>   <input id='currentpw' required name='currentpw' type='password' value='' /> </div>           <div style='display:inline-flex' class='col-md-2'>          <label >new password:</label>   <input required id='newpw' name='newpw' type='password' value='' />            </div><div class='button-submit-changepw'><button type='submit' id='btn-submit' class='btn btn-primary btn-login'>Change</button></div></form><div class='col-md-4'><div class='button-logout'><button type='submit' id='btn-logout' class='btn btn-primary btn-login'>Logout</button></div></div> </div></div></div>"
                //         })
                //         $('#btn-logout').on('click', function(e) {
                //     e.preventDefault();
                //     Swal.fire({
                //         title: 'Are you sure?',
                //         text: "You won't be able to revert this!",
                //         icon: 'warning',
                //         showCancelButton: true,
                //         backdrop: `
                // rgba(0,0,123,0.4)
                // url("/api/docs/background/UIBkAT.jpg")
                // left top
                // no-repeat
                // `,
                //         confirmButtonColor: '#3085d6',
                //         cancelButtonColor: '#d33',
                //         confirmButtonText: 'Yes, delete it!'
                //     }).then((result) => {
                //         if (result.value) {
                //             // $.ajax({
                //             //     tpye: 'GET',
                //             //     url: '/del',
                //             //     success: function(res) {
                //             //         window.location.href = '/'
                //             //     },
                //             //     error: function(err) {
                //             //         console.log(err);
                //             //     },
                //             // })
                //             $.ajax({
                //                 tpye: 'GET',
                //                 url: '/del',
                //                 success: function(res) {
                //                     window.location.href = '/'
                //                 },
                //                 error: function(err) {
                //                     console.log(err);
                //                 },
                //             })

                //         }
                //     })
                //         })

                //         $('#updatepassword').submit(function(e) {
                //             e.preventDefault();
                //             const curpw = $('#currentpw').val();
                //             const newpw = $('#newpw').val();
                //             const uemail = $('#email').val();
                //             console.log(curpw, newpw, uemail);
                //             if (newpw == '' || curpw == '') {

                //             } else {
                //                 $.ajax({
                //                     type: 'POST',
                //                     url: '/updatepassword',
                //                     data: { uemail: uemail, currentpw: curpw, newpw: newpw },
                //                     success: function(res) {

                //                         window.location.href = '/'
                //                     },
                //                     error: function(err) {
                //                         console.log(err);
                //                         console.log(err.responseJSON['message'])
                //                         if (err.status == 400) {

                //                             const Toast = Swal.mixin({
                //                                 position: 'top-end',
                //                                 toast: true,
                //                                 // icon: 'error',
                //                                 // title: 'The password is not correct',
                //                                 showConfirmButton: false,
                //                                 timerProgressBar: true,
                //                                 timer: 1500,
                //                                 onOpen: (toast) => {
                //                                     toast.addEventListener('mouseenter', Swal.stopTimer)
                //                                     toast.addEventListener('mouseleave', Swal.resumeTimer)
                //                                 }
                //                             })

                //                             Toast.fire({
                //                                 icon: 'error',
                //                                 title: 'The password is not correct'
                //                             })
                //                         }
                //                     },
                //                 })
                //             }
                //         })
                //     } else {
                //         Swal.fire({
                //             title: 'Hi!',
                //             showConfirmButton: false,
                //             html: "<form action='./login' method='post'><div class='form-group'><label for='email'>Email address</label><input required type='email' name='email' value='rapsunl231@gmail.com' autocomplete='off' class='form-control' id='email' aria-describedby='emailHelp' placeholder='Enter email'></div><div class='form-group'><label for='password'>Password</label><input type='password' value='123456' required name='password' class='form-control' id='password' placeholder='Password'></div><div class='form-group'><small id='emailHelp' class='form-text text-muted'>We'll never share your email with anyone else.</small></br></br></div></br><div class='button-login'><button type='submit' id='btn-submit' class='btn btn-primary btn-login'>Login</button></div><br><a class='btn-register' href='./register'> or Register here!!!</a></form>"
                //         })

                //     }

                // });


            })
            .catch(function(error) {
                console.log('Looks like there was a problem: \n', error);
            });
    })
    </script>
</body>