<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Page | Category</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/api/css/style.css">
</head>

<body>
    <h1 class="text-middle">Category List</h1>
    <!-- <img src="1435.jpg"> -->
    <% if(listCategory!= null) { %>
    <div class="box-body table-responsive no-padding tb-responsive-listaccount">
        <div id="tableContainer tb-container-listaccount">
            <table id="data-table-list-category" class="table table-hover" id="dataTables1">
                <thead>
                    <tr>
                        <th> picture</th>
                        <th> GB status</th>
                        <th> id</th>
                        <th> name</th>
                        <th> date live</th>
                        <th> date end</th>
                        <th> date payment</th>
                        <th> color</th>
                        <th> min price</th>
                        <th> max price</th>
                        <!-- <th> password</th> -->
                        <th></th>
                    </tr>
                </thead>
                <!-- <tbody></tbody> -->
                <% listCategory.forEach(function(item){ %>
                <tr class="align-middle">
                    <td style="width: 120px; height: 120px;">
                        <a id="single_image" href="<%= item.pic_profile.path %>" data-fancybox="html5-video"><img style="max-width: 100%;width: 120px;height: 120px; object-fit: cover;" src="<%= item.pic_profile.path %>"></a>
                    </td>
                    <td>
                        <% if(item.status_gb == 1) { %>
                        IC
                        <% } else if (item.status_gb == 2) { %>
                        Live
                        <% } else { %>
                        End
                        <% } %>
                    </td>
                    <td>
                        <%= item.category_id %>
                    </td>
                    <td>
                        <%= item.category_name %>
                    </td>
                    <td>
                        <%= (item.date_start).toLocaleString() %>
                    </td>
                    <td>
                        <%= (item.date_end).toLocaleString() %>
                    </td>
                    <td>
                        <%= (item.date_payment).toLocaleString() %>
                    </td>
                    <td>
                        <% if(item.type == 0){ %>
                        <% for( var key in item.k_color){ %>
                        <span class="f-<%=item.k_color[key] %>">
                            <%= item.k_color[key] %></span>
                        <% } %>
                        <% }else{  %>
                        <% for( var key in item.c_code_color){ %>
                        <span class="f-<%=item.c_code_color[key] %>">
                            <%= item.c_code_color[key] %></span>
                        <% } %>
                        <% } %>
                    </td>
                    <td>
                        <%= item.min_price %>$
                    </td>
                    <td>
                        <%= item.max_price %>$
                    </td>
                    <!-- <td>
                        <%= item.password %>
                    </td> -->
                    <td><a href="#" class="btn btn-danger btn-delete" data-id='<%=item._id %>'>
                            <div><i class="fas fa-trash"></i></div>
                        </a>&nbsp;<a href="category/edit/<%=item._id%>" class="btn btn-primary btn-edit" data-id='<%=item._id %>'>
                            <div><i class="fas fa-edit"></i></div>
                        </a></td>
                </tr>
                <%    }) %>
            </table>
        </div>
    </div>
    <% } %>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<!-- <script src="js/listAccount.js"></script> -->
<script type="text/javascript">
$(document).ready(function() {



    $('#data-table-list-category').dataTable({
        "aoColumns": [
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
            null,
        ],
        "language": {
            searchPlaceholder: 'Search...',
            sSearch: ''
        },
        "columnDefs": [
            { "targets": 0, "orderable": false },
            { "targets": 4, "orderable": false },

        ],
    });
    $('.btn-delete').on('click', function(e) {
        e.preventDefault();
        const id = $(this).attr('data-id');
        console.log(id);
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            // backdrop: `
            //             rgba(0,0,123,0.4)
            //             url("/api/docs/background/UIBkAT.jpg")
            //             left top
            //             no-repeat
            //             `,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: 'DELETE',
                    url: ' category/delete/' + id,
                    success: function(res) {
                        alert('deleting');
                        location.reload();
                    },
                    error: function(err) {
                        console.log(err);
                    }
                })

            }
        })

    });
    $("a#single_image").fancybox({
        iframe: {
            preload: false,

        },

    });


});
</script>

</html>