<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Page | Category Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="/api/css/custom-fixed.css"> -->
    <% include ./../../tips/cssPackage%>
</head>
<style type="text/css">
    .dropdown-toggle::after{
    display: none!important
}
</style>
<body>
    <% include ./../../header%>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 sidebar-offcanvas" id="sidebar">
            </div>
            <!-- <div class="row row-offcanvas row-offcanvas-right"> -->
            <% if(category != null){ %>
            <div class="col-md-6">
                <!-- <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                </p> -->
                <h1 class="text-center">
                    <%= title %>
                </h1>
                <% if(type == 0) { %>
                <form action='/api/category/edit/<%=category._id%>' method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="email">GB status:</label>
                        <select class="form-control" name="status" id="status">
                            <option value="1">IC</option>
                            <option value="2">Live</option>
                            <option value="0">End</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Name:</label>
                        <input type="text" name="catname" class="form-control" value="<%=category.category_name%>" id="catname" aria-describedby="catnameHelp">
                    </div>
                    <div class="form-group">
                        <label for="email">Design by:</label>
                        <input type="text" name="author" value="<%=category.author%>" class="form-control" id="author" aria-describedby="authorHelp">
                    </div>
                     <div class="form-group">
                        <label for="email">Manufacturing:</label>
                        <input type="text" name="manufacturing" value="<%= category.manufacturing %>" class="form-control" id="manufacturing" aria-describedby="manufacturingHelp">
                    </div>
                    <div class="form-group">
                        <label for="email">Proxy host:</label>
                        <input type="text" name="host" value="<%=category.proxy_host%>" class="form-control" id="host" aria-describedby="hostHelp">
                    </div>
                    <!-------------------------- for keeb ---------------------------->
                    <div class="for-keeb">
                        <div class="form-group">
                            <label for="email">Flip top&bot:</label>
                            <select class="form-control keeb-flip" id="keeb_flip" name="flip">
                                <option value="1">Yes! Flip it</option>
                                <option value="0">NO!!!</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Keeb Layout:</label>
                            <select class="form-control select2 multiple-select k_layout" name="k_layout[]" id="k_layout" multiple="multiple">
                                <option value="tbd">TBD</option>
                                <option value="40%">40%</option>
                                <option value="50%">50%</option>
                                <option value="60%">60%</option>
                                <option value="65%">65%</option>
                                <option value="75%">75%</option>
                                <option value="TKL">TKL</option>
                                <option value="Fullsize">Fullsize</option>
                                <option value="980">980</option>
                                <option value="1800">1800</option>
                                <option value="etc">ETC</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="degree">Keeb Degree:</label>
                            <select class="form-control select2 multiple-select" name="k_degree[]" id="k_degree" multiple="multiple">
                                <option value="tbd">TBD</option>
                                <option value="4">4°</option>
                                <option value="4.5">4.5°</option>
                                <option value="5">5°%</option>
                                <option value="5.5">5.5°%</option>
                                <option value="6">6°%</option>
                                <option value="6.5">6.5°</option>
                                <option value="7">7°</option>
                                <option value="7.5">7.5°</option>
                                <option value="8">8°</option>
                                <option value="etc">ETC</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Keeb Mounting type:</label>
                            <select class="form-control mounting-select select2" name="k_mounting[]" id="k_mounting" multiple="multiple">
                                <option value="TBD">TBD</option>
                                <option value="tray">Tray mount</option>
                                <option value="top">Top mount</option>
                                <option value="bottom">Bottom mount</option>
                                <option value="sandwich">Sandwich mount</option>
                                <option value="plateless">Plateless mount</option>
                                <option value="intergrated">Integrated plate</option>
                                <option value="gasket">Gasket mount</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Keeb Color:</label>
                            <select class="form-control select2 multiple-select" id="k_color" name="k_color[]" multiple="multiple" value="aaaa">
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                                <option value="blue">Blue</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Keeb Plate Option:</label>
                            <select class="form-control select2 multiple-select select2-kplate" id="keeb-plate" name="k_plate[]" multiple="multiple">
                                <option value="full">Full Plate</option>
                                <option value="half">Half Plate</option>
                                <option value="none">None Plate</option>
                                <option value="tbd">TBD</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Date start (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker" class="span2" value="<%= (category.date_start).toLocaleDateString() %>" type="text" name="date_start">
                    </div>
                    <div class="form-group">
                        <label for="email">Date end (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker1" class="span2" value="<%= (category.date_end).toLocaleDateString() %>" type="text" name="date_end">
                    </div>
                    <div class="form-group">
                        <label for="email">Date payment (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker2" class="span2" type="text" name="date_payment" value="<%= (category.date_payment).toLocaleDateString() %>">
                    </div>
                    <div class="form-group">
                        <label for="email">Min price:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" name="min_price" type="tel" value="<%= category.min_price%>" id="minprice">
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Max price:</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input class="form-control" name="max_price" type="tel" value="<%= category.max_price%>" id="maxprice">
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Tax:</label>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input class="form-control" name="tax" type="tel" value="<%= category.tax %>" id="tax">
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Handle & Shipping:</label>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control" name="hns" type="tel" value="<%= category.hns %>" id="hns">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Specs:</label>
                        <textarea id="specs" name="specs" type="text" class="form-control" placeholder="Content"></textarea>
                    </div>
                    <div className="input-group mb-3">
                        <div className="custom-file">
                            <input type="file" name="picture" className="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                            <label className="custom-file-label" htmlFor="inputGroupFile01">
                            </label>
                            <img src="" id="profile-img-tag" width="200px" />
                        </div>
                    </div>
                    <br>
                    <button type="submit" id="btn-submit" class="btn btn-primary btn-submit">Submit</button>
                    <button type="submit" id="btn-submit" class="btn btn-primary btn-cancel">Cancel</button>
                </form>
                <!------------------------------ form for keyset --------------------------->
                <% } else if(type == 1) { %>
                <form action='/api/category/edit/<%=category._id%>' method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="email">GB status:</label>
                        <select class="form-control" name="status" id="status">
                            <option value="1">IC</option>
                            <option value="2">Live</option>
                            <option value="0">End</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Name:</label>
                        <input type="text" name="catname" value="<%=category.category_name%>" class="form-control" id="catname" aria-describedby="catnameHelp">
                    </div>
                    <div class="form-group">
                        <label for="email">Design by:</label>
                        <input type="text" name="author" value="<%=category.author%>" class="form-control" id="author" aria-describedby="authorHelp">
                    </div>
                     <div class="form-group">
                        <label for="email">Manufacturing:</label>
                        <input type="text" name="manufacturing" value="<%= category.manufacturing %>" class="form-control" id="manufacturing" aria-describedby="manufacturingHelp">
                    </div>
                    <div class="form-group">
                        <label for="email">Proxy host:</label>
                        <input type="text" name="host" value="<%=category.proxy_host%>" class="form-control" id="host" aria-describedby="hostHelp">
                    </div>
                    <!---------------------------- for keyset ------------------------->
                    <div class="for-keyset">
                        <div class="form-group">
                            <label for="email">Keyset Profile:</label>
                            <select class="form-control select2" id="c_profile" name="profile">
                                <option value="tbd">TBD</option>
                                <option value="sa">SA profile</option>
                                <option value="cherry">Chery profile</option>
                                <option value="oem">OEM profile</option>
                                <option value="kat">KAT profile</option>
                                <option value="etc">etc</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Keyset Material:</label>
                            <select class="form-control multiple-select" style="margin-top:0px;" id="c_material" name="c_material">
                                <option value="abs">ABS</option>
                                <option value="pbt">PBT</option>
                                <option value="pom">POM</option>
                                <option value="etc">ETC</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Keyset Color:</label>
                            <select class="form-control select2" style="margin-top:0px;" id="c_color" name="code_color[]" multiple="multiple">
                                <option class="c-n7" value="n7">N7</option>
                                <option class="c-l9" value="l9">L9</option>
                                <option class="c-v1" value="v1">V1</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Date start (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker" value="<%= (category.date_start).toLocaleDateString()%>" class="span2" type="text" name="date_start">
                    </div>
                    <div class="form-group">
                        <label for="email">Date end (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker1" value="<%= (category.date_end).toLocaleDateString()%>" class="span2" type="text" name="date_end">
                    </div>
                    <div class="form-group">
                        <label for="email">Date payment (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker2" value="<%= (category.date_payment).toLocaleDateString()%>" class="span2" type="text" name="date_payment">
                    </div>
                    <div class="form-group">
                        <label for="email">Min price:</label>
                         <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control" name="min_price" type="tel"  value="<%= category.min_price%>" id="minprice">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Max price:</label>
                         <div class="input-group m   b-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control" name="max_price" type="tel" value="<%= category.max_price%>" id="maxprice">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                    </div>
                     <div class="form-group">
                        <label for="password">Tax:</label>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input class="form-control" name="tax" type="tel" value="<%= category.tax %>" id="tax">
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Handle & Shipping:</label>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control" name="hns" type="tel" value="<%= category.hns %>" id="hns">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Specs:</label>
                        <textarea id="specs" name="specs"  type="text" class="form-control" placeholder="Content"></textarea>
                    </div>
                    <div className="input-group mb-3">
                        <div className="custom-file">
                            <input type="file" name="picture" className="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                            <label className="custom-file-label" htmlFor="inputGroupFile01">
                            </label>
                            <img src="" id="profile-img-tag" width="200px" />
                        </div>
                    </div>
                    <br>
                    <button type="submit" id="btn-submit" class="btn btn-primary btn-submit">Submit</button>
                    <button type="submit" id="btn-submit" class="btn btn-primary btn-cancel">Cancel</button>
                </form>
                <!------------------------------------ for switches -------------------------------->
                <% }else if(type == 2) { %>
                        <form action='/api/category/edit/<%=category._id%>' method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="email">GB status:</label>
                        <select class="form-control" name="status" id="status">
                            <option value="1">IC</option>
                            <option value="2">Live</option>
                            <option value="0">End</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Name:</label>
                        <input type="text" name="catname" value="<%=category.category_name%>" class="form-control" id="catname" aria-describedby="catnameHelp">
                    </div>
                    <div class="form-group">
                        <label for="email">Design by:</label>
                        <input type="text" name="author" value="<%=category.author%>" class="form-control" id="author" aria-describedby="authorHelp">
                    </div>
                     <div class="form-group">
                        <label for="email">Manufacturing:</label>
                        <input type="text" name="manufacturing" value="<%= category.manufacturing %>" class="form-control" id="manufacturing" aria-describedby="manufacturingHelp">
                    </div>
                    <div class="form-group">
                        <label for="email">Proxy host:</label>
                        <input type="text" name="host" value="<%=category.proxy_host%>" class="form-control" id="host" aria-describedby="hostHelp">
                    </div>
                    <!---------------------------- for keyset ------------------------->
                    <div class="for-switches">
                        
                    </div>
                    <div class="form-group">
                        <label for="email">Date start (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker" value="<%= (category.date_start).toLocaleDateString()%>" class="span2" type="text" name="date_start">
                    </div>
                    <div class="form-group">
                        <label for="email">Date end (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker1" value="<%= (category.date_end).toLocaleDateString()%>" class="span2" type="text" name="date_end">
                    </div>
                    <div class="form-group">
                        <label for="email">Date payment (mm/dd/yyyy):</label>
                        <input style="width: 100%" id="datepicker2" value="<%= (category.date_payment).toLocaleDateString()%>" class="span2" type="text" name="date_payment">
                    </div>
                    <div class="form-group">
                        <label for="email">Min price:</label>
                         <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control" name="min_price" type="tel"  value="<%= category.min_price%>" id="minprice">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Max price:</label>
                         <div class="input-group m   b-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control" name="max_price" type="tel" value="<%= category.max_price%>" id="maxprice">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                    </div>
                     <div class="form-group">
                        <label for="password">Tax:</label>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">%</span>
                                </div>
                                <input class="form-control" name="tax" type="tel" value="<%= category.tax %>" id="tax">
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Handle & Shipping:</label>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input class="form-control" name="hns" type="tel" value="<%= category.hns %>" id="hns">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Specs:</label>
                        <textarea id="specs" name="specs"  type="text" class="form-control" placeholder="Content"></textarea>
                    </div>
                    <div className="input-group mb-3">
                        <div className="custom-file">
                            <input type="file" name="picture" className="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" />
                            <label className="custom-file-label" htmlFor="inputGroupFile01">
                            </label>
                            <img src="" id="profile-img-tag" width="200px" />
                        </div>
                    </div>
                    <br>
                    <button type="submit" id="btn-submit" class="btn btn-primary btn-submit">Submit</button>
                    <button type="submit" id="btn-submit" class="btn btn-primary btn-cancel">Cancel</button>
                </form>

                <% } %>
            </div>
            <% } %>
            <!-- </div> -->
        </div>
        <!-- </div> -->
    </div>
    <div class="footer" style="text-align: center;">
        <% include ./../../footer%>
    </div>
</body>
<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
<% include ./../../tips/jsPackage %>
<script type="text/javascript">
$(document).ready(function() {
    var url = (window.location).href;
    var res = url.split("/").pop();

    $('.select2').select2();

    $('#specs').summernote({
        tabsize: 2,
        height:300
    });

    // $('#k_color').select2("data", {k_color: [red]})
    $('#datepicker').datepicker();
    $('#datepicker1').datepicker();
    $('#datepicker2').datepicker();

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                console.log(e.target.result)
                $('#profile-img-tag').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $('#inputGroupFile01').change(function() {
        readURL(this);
    });


    // $('.k_layout').select2('val',[60%]);
    $('.btn-cancel').on('click', function(e) {
        e.preventDefault();
        window.location.href = '/api/category';

    })


    fetch('/api/category/get/' + res).then(function(response) {
        if (!response.ok) {
            throw Error(response.statusText);
        }
        return response.json();
    }).then(function(responseAsJson) {
        console.log(responseAsJson);
        var category_details = responseAsJson;
        var color = category_details.k_color;
        console.log(color);
        var layout = category_details.k_layout;
        var degree = category_details.k_degree;
        var mounting = category_details.k_mounting;
        var plate = category_details.k_plate_option;
        var type = category_details.type;
        var pic_path = category_details.pic_profile['path'];
        var specs = category_details.specs;
        var profile = category_details.c_profile;
        var c_color = category_details.c_code_color;
        var c_material = category_details.c_material
        var tax = category_details.tax;
        var hns = category_details.hns;

        $('#status').val(category_details.status_gb);
        $('#tax').val(category_details.tax);
        $('#hns').val(category_details.handle);
        $('#status').trigger('change');
        $('#specs').summernote('code', specs);

        if (type == 0) {
            $('#keeb_flip').val(category_details.flip);

            $('#k_color').val(color);
            $('#k_color').trigger('change');

            $('#keeb-plate').val(plate);
            $('#keeb-plate').trigger('change');

            $('#k_layout').val(layout);
            $('#k_layout').trigger('change');

            $('#k_degree').val(degree);
            $('#k_degree').trigger('change');

            $('#k_mounting').val(mounting);
            $('#k_mounting').trigger('change');
            $('#profile-img-tag').attr('src', '/api/' + pic_path)

        } else if (type == 1) {
            $('#c_profile').val(profile);
            $('#c_profile').trigger('change');


            // $('#c_material').val(c_material)
            $('#c_material').val(c_material);
            $('#c_material').trigger('change');

            $('#c_color').val(c_color);
            $('#c_color').trigger('change');

            $('#profile-img-tag').attr('src', '/api/' + pic_path)
        } else if(type == 2) {
            $('#profile-img-tag').attr('src', '/api/' + pic_path)

        }






    })
});
</script>

</html>